[2020-12-04 13:07] uira opened #1 "Integraçao com keycloack/IDSaude"
buscar plugins de integraçao com keycloack / oauth

[2021-01-04 18:10] wforte88 opened #2 "Adaptar página de construção no Divi"
- [x] Adaptar a página inicial atual do sus.ce para o Divi no ambiente de homologação;
- [x] Exportar pelo Divi;
- [x] Importar no sus.ce;
- [x] Definir a página importada como página inicial no sus.ce.

[2021-01-05 14:34] #2 closed

[2021-01-06 11:22] wforte88 opened #3 "Desenvolver subsite do Elmo"
Lista de links do site
Home principal
O Elmo
Capacitação
Resultados
Adquira o Elmo
Faça seu treinamento
Tira-dúvidas

[2021-01-06 11:24] wforte88 opened #4 "Criar seção Biblioteca"
Criar uma página para agrupar os projetos da categoria biblioteca. Cada projeto deve ter uma ficha catalográfica do PDF e o arquivo para download. Se o arquivo tiver proteção deverá ser incluído apenas o link.

- [x] Montar template
- [x] Incluir bibliografia
- [x] Refinar o design
- [x] Melhorar experiência mobile

[2021-01-06 11:25] wforte88 opened #5 "Criar artigo "7 dicas rápidas para uso do Elmo""

[2021-01-06 11:25] wforte88 opened #6 "Criar artigo "Respostas esperadas de tratamentos com o Elmo""
Adaptar o conteúdo abaixo para um projeto (post) na categoria "Capacitação":

### Fatores associados a boa resposta de uso do Elmo

**5 a 15 minutos de uso**

- Diminuição da dispneia
- Sensação de maior conforto ao respirar
- Fácies com expressão mais tranquila (reversão de sinais de pânico)
- Diminuição do uso de m. acessória da resp.
- Redução da frequência respiratória
- Redução da frequência

[2021-01-06 11:25] wforte88 opened #7 "Criar artigo "Contraindicações do Elmo""
Adaptar o conteúdo abaixo para um projeto (post) na categoria "Capacitação":

## Contraindicações de uso do Elmo

Torpor ou agitação psicomotora, desorientação, incapacidade de cooperar
Glasgow < 8
Exacerbação de Asma, DPOC, fibrose pulmonar ou outras pneumopatias
Instabilidade hemodinâmica (PAS < 90 mmHg ou PAM < 65 mmHg) ou necessidade de drogas vasoativas
Risco iminente de parada respiratória
P

[2021-01-06 11:25] wforte88 opened #8 "Criar artigo "Quando usar o Elmo""

[2021-01-11 10:43] wforte88 opened #9 "Criar seção de depoimentos"
## **Objetivo**

**Como** usuário
**Quero** ver relatos de profissionais da saúde e de pacientes que utilizaram o Elmo
**Para** ter mais credibilidade no produto

## **Contexto**

Estamos vivendo um momento de pandemia. Por esse motivo, muitas instituições privadas e até pessoas físicas têm demonstrado interesse no Capacete Elmo. Nesse contexto, gostaríamos de abrir um item no menu do site do Elmo

[2021-01-11 14:00] danielgula opened #10 "Criar MVP de AI da Central SUS.ce"
## Criar MVP de arquitetura da informação da Central de Informações do SUS

A partir da arquitetura da informação atual mapeada, mostrando o ecossistema de dados envolvendo os produtos do Felicilab (iSUS, Hotsite Corona, Mapa da Saúde e id Saúde), além da liberação do domínio sus.ce.gov.br, chega o momento de construir a visão na web da educação permanente e inovação da ESP.

## O que deve ser fei

[2021-01-15 14:41] wforte88 opened #72 "Criar site do FeliciLab"
- [ ] Home page
- [x] O que é
- [x] Quem somos
- [ ] Labs
- [x] Produtos
- [x] Como trabalhamos
- [ ] Contato

Links de apoio:
Elementos editoriais:
https://docs.google.com/document/d/1IGCe-kQh5ZpBSmG_licV1UHkyv0HbsWnd0r_KkWnjno/edit#heading=h.qp7aimt2x7aq

[2021-01-18 13:07] wforte88 opened #11 "Publicar vídeos instrucionais na seção Capacitação"

[2021-01-18 13:55] wforte88 opened #12 "Criar página "Treinamento" [COMERCIAL]"
Criar página para solicitação de capacitação chamada "faça sua capacitação"

### Escopo

- [x] Criar botão para fomulário em popup

- [x] Criar formulário para comercial@esp.ce.gov.br com os dados:

**Solicitação de treinamento de uso do Elmo**

**Nome***
[TEXT]

**E-mail***
[TEXT]

**Telefone***
[TEXT]

**Tipo de Unidade de Saúde***
[CHECKBOX]
- Pública (SUS)
- Privada

**Nome da Unidade de Saúde

[2021-01-18 13:56] wforte88 opened #13 "Chat online para atendimento comercial imediato"
8h às 17h
Verificar possibilidade de uso do FreshDesk

[2021-01-18 16:55] wforte88 opened #14 "Inserir vídeos instrucionais"
Publicar vídeos como projetos (posts) na categoria "Capacitação":
- [x] VID1 - Montagem do Sistema Elmo
- [x] VID2 - Testagem do Sistema Elmo
- [x] VID3 - Instalação do Elmo na paciente
- [x] VID4 - Retirada do Elmo I
- [x] VID5 - Retirada do Elmo II
- [x] VID6 - Desmontagem do Sistema Elmo
- [x] VID7 - Indicação e critérios de uso
- [x] VID8 - Avaliação clínica

### UX
- [x] Personalizar template

[2021-01-19 14:55] danielgula opened #15 "Incluir métricas do Elmo no site"
**Como** usuário
**Quero** ver os indicadores do Elmo
**Para** ter mais confiança no produto

## **Contexto**

Com a comercialização do Elmo, surgiram indicadores de confiança do produto, que precisam ser divulgados no site, dando maior credibilidade e incentivando a compra e a capacitação no Elmo, essenciais para a subsistência do produto.

## **Escopo**

- [ ] - Criar seção (ou página) para rece

[2021-01-19 14:55] danielgula opened #16 "Incluir seção de notícias do Elmo"
Seção deve listar os projetos (posts) já inseridos na categoria "Notícias".

[2021-01-19 17:15] ClarisCaval commented on #72
@wforte88, como faço para marcar alguns projetos desse board (DesignLab) como comuns ao board PubliciLab, que estou criando? Esse card, por exemplo, é bem integrado, mas não vejo a engrenagem ali em projetos...

[2021-01-19 21:11] #14 closed, assigned to wforte88

[2021-01-19 21:12] #5 closed

[2021-01-19 21:16] wforte88 commented on #11
Demanda tratada na tarefa #14

[2021-01-19 21:16] #11 closed, assigned to nobody

[2021-01-19 21:35] wforte88 commented on #88
@Clarisse1983 o texto dos termos ainda possui alguns comentários em aberto. Já foram deliberados em outro espaço ou estão pendentes mesmo?

[2021-01-20 11:28] #8 closed

[2021-01-21 11:43] wforte88 commented on #4
Melhorar experiência mobile. O conteúdo não está visível na primeira rolagem.

[2021-01-21 13:46] wforte88 opened #17 "Criar página "O Elmo""
Criar página institucional de apresentação do Elmo.

### PubliciLab

- [x] Revisar textos de apresentação
- [x] Redigir informações sobre a patente
- [x] Redigir textos e indicar imagens para a linha do tempo de desenvolvimento do Elmo (verificar notícias do site e vídeo de resultados preliminares)
- [x] Uniformizar texto do "[Quem é quem](https://drive.google.com/drive/u/0/folders/1X7jE-f4TDNK1Gi

[2021-01-21 19:40] clarissagpeixoto commented on #12
Meninos, segue texto inicial:

A **_capacitação presencial_** acontece na Escola de Saúde Pública do Ceará, tem duração de quatro horas, é recomendada para profissionais de saúde (médicos, enfermeiros e fisioterapeutas) e é dividida nas seguintes etapas: aula expositiva, montagem do equipamento e simulação realística. Para realizar a capacitação, é necessário realizar agendamento prévio.  Ao final

[2021-01-21 22:37] danielgula commented on #12
Modelo de Jornada do usuário:

Botão [Quero fazer meu treinamento]

1. Você é:
- unidade pública
- unidade privada

2. - solicitar individual ou coletivo

3. - dados específicos para envio

[2021-01-21 22:44] clarissagpeixoto commented on #12
Daniel, não é "Quero fazer meu treinamento". O correto é: "Solicitar capacitação"

[2021-01-22 11:45] wforte88 opened #18 "Reestruturar home page do Elmo"
## **Objetivo**

**Como** usuário do site Elmo
**Quero** acessar a nova estrutura da informação do Elmo
**Para** ter uma experiência melhor de navegação

## **Contexto**

Com a evolução da página do Elmo, foi necessário criar uma nova estrutura que possa receber conteúdos e melhorar a experiência do usuário, realocando conteúdos e gerando novos espaços.

## **Escopo**

- [x] Criar link para a pági

[2021-01-22 11:56] wforte88 opened #19 "Adaptar conteúdo "Respostas esperadas de tratamentos com o Elmo" para aba no vídeo "Avaliação de resposta clínica""
## **Objetivo**

**Como** usuário
**Quero** acessar o link Avaliação de resposta clínica
**Para** ver as respostas esperadas do Elmo

## **Contexto**

Foi pensada uma página de respostas esperadas do Elmo, mas decidimos colocar esse conteúdo como aba na página Princípios de Uso

## **Escopo**

- [x] Criar aba
- [x] Colocar conteúdo das respostas esperadas

## **Critérios de Aceitação**

**Dado que

[2021-01-22 11:58] wforte88 opened #20 "Adaptar conteúdo "7 dicas rápidas de uso do Elmo" para aba no vídeo "Princípios de uso""
## **Objetivo**

**Como** usuário
**Quero** acessar o link princípios de uso
**Para** ver 7 dicas rápidas do Elmo

## **Contexto**

Foi pensada uma página de 7 dicas de uso do Elmo, mas decidimos colocar esse conteúdo como aba na página Princípios de Uso

## **Escopo**

- [x] Criar aba
- [x] Criar lista de dicas na aba
- [x] Inserir popup: Definir tamanho do Elmo
- [x] Inserir popup: Montar o Sist

[2021-01-22 11:58] wforte88 opened #21 "Adaptar conteúdo "Contraindicações do Elmo" para aba no vídeo "Princípios de uso""
## **Objetivo**

**Como** usuário
**Quero** acessar o link princípios de uso
**Para** ver as contraindicações do Elmo

## **Contexto**

Foi pensada uma página de contraindicações do Elmo, mas decidimos colocar esse conteúdo como aba na página Princípios de Uso

## **Escopo**

- [x] Criar aba
- [x] Colocar conteúdo das contraindicações

## **Critérios de Aceitação**

**Dado que** estou no site do E

[2021-01-25 17:11] saracafe commented on #17
Texto revisado https://docs.google.com/document/d/1Ii187YvnGm21rSX6rPf5pLFB2auIqz2ivUB8-ghzlH4/edit?usp=sharing

[2021-01-25 17:16] danielgula opened #22 "Incluir artigo na Biblioteca do site Elmo"
## **Objetivo**

**Como** usuário
**Quero** acessar um artigo
**Para** ler

## **Contexto**

- Página blblioteca está criada chamando um portfolio de categoria "biblioteca"

## **Escopo**

- [x] criar artigo com a referência do lnk https://pubmed.ncbi.nlm.nih.gov/27179847/

## **Critérios de Aceitação**

- [x] artigo exibido dentro da biblioteca

**Dado que** artigo foi publicado
**Quando** acesso

[2021-01-25 18:43] danielgula commented on #7
A página será tratada agora como conteúdo da issue:
https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/21

[2021-01-25 18:45] danielgula commented on #6
Os conteúdos dessa página serão transferidos para a issue abaixo:
https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/19

[2021-01-25 18:46] #4 closed

[2021-01-27 18:43] clarissagpeixoto commented on #12
Solicito previsão de entrega.

[2021-02-02 13:01] danielgula opened #77 "Criar links padrão no rodapé de todos os sites"
[Imagem com os links]
Ouvidoria Estadual
https://cearatransparente.ce.gov.br/portal-da-transparencia/ouvidoria?locale=pt-BR

Ceará Transparente
https://cearatransparente.ce.gov.br/

Acesso à Informação
https://www.saude.ce.gov.br/acesso-a-informacao

From Uirá
Esses links aí, de ouvidoria e acesso à informação, são obrigatórios em todos os sites do governo.

Importante implementarmos isso no rodap

[2021-02-02 18:25] ClarisCaval commented on #12
@wforte88, fiz uns ajustes no texto, e umas quebras, para dar uma suavizada na exibição. Veja:

A capacitação presencial é uma atividade realizada pela Escola de Saúde Pública do Ceará (ESP/CE), conduzida por uma equipe interdisciplinar e recomendada para profissionais de saúde (médicos, enfermeiros e fisioterapeutas) que farão o manejo dos capacetes em pacientes com Covid-19.

O curso tem duração

[2021-02-02 18:33] ClarisCaval commented on #12
Esse item de 'divulgar o email de envio do formulário' eu não entendi. Divulgar onde? A pessoa já vai poder fazer esse agendamento né?

[2021-02-03 12:07] clarissagpeixoto commented on #12
Pessoal, o texto inserido na página não foi o que enviamos inicialmente.

Em ter, 2 de fev de 2021 15:25, Clarisse1983 <notifications@github.com>
escreveu:

[2021-02-03 17:06] danielgula commented on #12
Página atualizada em:
https://sus.ce.gov.br/elmo/faca-sua-capacitacao/

Gentileza peço atenção para as tarefas abaixo que necessitam de apoio do Publicilab:
- Preciso do e-mail o qual serão enviadas as mensagens do formulário.
- Penso em substituir, na página inicial, o espaço "Fale com a Gente" e colocar botão de chamada para "Faça sua Capacitação".
- Em adição a chamada, incluir o link para a ca

[2021-02-03 20:28] #22 closed, assigned to danielgula

[2021-02-03 20:28] #16 closed, assigned to wforte88, danielgula

[2021-02-04 12:43] clarissagpeixoto commented on #12
@danielgula @wforte88 Seguem ajustes:

- O texto correto é o que a @Clarisse1983 postou há 2 dias (ver mensagem acima);
- Os quadros de mensagem estão cortando os textos. Favor corrigir;
- A imagem do Elmo está em baixa resolução, pixelada. Sugiro colocar imagens do treinamento em si. Vou te mandar por e-mail;
- O botão "solicitar capacitação" não está dentro do padrão dos botões do site (animação

[2021-02-05 14:31] clarissagpeixoto commented on #12
Pessoal, a página não para de carregar, a diagramação do formulário ainda não tá legal, tá quebrada e continuo achando desnecessário essa soma ao final do formulário. @saracafe e @Clarisse1983, precisamos pensar em dois textos (para a caixa posterior ao preenchimento do formulário): um para os usuário do setor público e outro pra os usuários do setor privado.

[2021-02-05 18:32] ClarisCaval commented on #12
Reunimos agora para encaminhar a finalização da tarefa e ajustamos que:
- Daniel vai trabalhar em ajustes no layout, tais como: trazer elementos iconográficos para informações pontuais como tempo de treinamento e certificação;
- Foto será substituída por outra com componente humano. Clarissa tentará produzir um registro real de treinamento ou utilizaremos uma foto já disponível editada;
- Fonte do

[2021-02-08 12:29] ClarisCaval commented on #12
@danielgula, demos uma olhada na nova proposta e vejo que:
- a foto melhorou, mas é provisória, ainda não é a ideal;
- o formulário de solicitação também ficou muito melhor;
- a iconografia ficou ruim, se essa foi a proposta possível, preferimos sem.
As finalizações agora cabem a vocês, DesignLab. ;)

[2021-02-08 19:11] danielgula commented on #12
@Clarisse1983 , segue registro da demanda para validação do Publicilab:
Tanto a foto como os ícones foram marcação de layout na versão anterior. Fizemos os seguintes ajustes:

- Diagramação dos textos, utilizando ícones de tópicos e subtítulos para uma melhor experiência narrativa;
- Inclusão de uma foto tratada escolhida no último pareamento, como alternativa a uma produzida, que demoraria ainda

[2021-02-09 10:51] #6 closed

[2021-02-09 10:53] #7 closed

[2021-02-09 13:19] ClarisCaval commented on #12
@danielgula, gostei bastante das alterações! Parabéns!
Vou pedir para ajustar só um detalhe: onde tem agendamento e certificado, vamos deixar só a informação do certificado, para evitar dar a entender que é só agendar, quando alguns também precisarão pagar pelo curso. Aí esse agendamento a própria @clarissagpeixoto faz a partir do contato por email.

**Certificação**
Os profissionais capacitados r

[2021-02-09 13:23] danielgula opened #76 "Criar Easter Egg na página"
## **Objetivo**

**Como** usuário do site Felicilab
**Quero** digitar um código secreto / clicar em um pixel escondido
**Para** acessar um mini game

## **Contexto**

Como forma de demonstrar a forma alegre e disruptiva do Felicilab, criaremos uma página secreta contendo um Easter Egg em formato de jogo Three-match Puzzle com o tema visual do time.

## **Escopo**

- [ ] Encontrar código aberto do

[2021-02-09 13:28] Clarisse1983 opened #23 "Escrever projeto da Central de Informações do SUS (projeto InovaSaúde)"

[2021-02-09 16:50] danielgula commented on #12
A página,
https://sus.ce.gov.br/elmo/faca-sua-capacitacao/
foi aprovada e seguirá para o fluxo de links no site.

[2021-02-10 13:55] danielgula opened #24 "Alterar o nome certificação por declaração de participação"
## **Contexto**

Em reunião do dia 10/02/2021 com o GT Elmo ficou decidido que, até uma avaliação mais completa, a capacitação do Elmo, presencial ou online, deverá emitir declaração de participação.

## **Escopo**

- [x] Alterar o texto do certificado na página Faça sua Capacitação
- [x] Alterar o texto do certificado em todos os módulos instrucionais

[2021-02-10 14:35] danielgula commented on #12
De acordo com orientações do GT Elmo, substituímos a palavra Certificação por Declaração de Participação, ficando o texto dessa forma:

**Participação**
Os profissionais capacitados recebem declaração de participação emitida pela ESP-CE.

[2021-02-10 17:10] clarissagpeixoto commented on #12
Pessoal, em reunião hoje como pessoal do grupo do GT, levantou-se a possibilidade de ser cobrado um valor também para os profissionais da rede pública de outros estados. Isso ainda irá ser definido. Passo para vocês a decisão posteriormente.

[2021-02-12 14:14] danielgula commented on #12
Update da tarefa: estamos aguardando a liberação e testes do email comercial@esp.ce.gov.br por parte do time da infra para liberar a página.

[2021-02-18 21:16] danielgula opened #25 "Criar página de contato"
## **Contexto**

Em reunião do dia 18/02/2021 com o Publicilab ficou acertado que o formulário de contato continuaria no site e que seria crada uma página dedicada a ela.

## **Escopo**

- [x] Criar página Contato
- [x] Inserir contatos para adquirir Elmo
- [x] Inserir contatos para capacitação
- [x] Inserir form de contatos
- [x] Ajustar link do menu
- [x] Ver experiência mobile

[2021-02-18 21:20] danielgula opened #26 "Criar página de Perguntas frequentes"
## **Objetivo**

**Como** usuário
**Quero** acessar o link do menu "Tira Dúvidas"
**Para** ver as perguntas frequentes sobre o  Elmo

## **Contexto**

Em reunião do dia 18/02/2021 com o Publicilab ficou acertado que as perguntas frequentes serão coletadas e depois repassadas para que o Designlab crie a página.
Aqui o documento que estamos utilizando para as perguntas frequentes:
https://docs.googl

[2021-02-22 13:14] danielgula commented on #12
A página foi concluída, com o formulário enviando os dados para o Frashdesk, até quando tivermos a liberação do email comercial pela infra.

[2021-02-22 17:58] clarissagpeixoto commented on #12
Pessoal, segue texto correto:
Sua solicitação foi enviada! Em breve, nossa equipe entrará em contato com você, por e-mail ou por telefone, para atender à sua solicitação. Fique atento!

[2021-02-22 18:32] danielgula commented on #12
Texto de mensagem de êxito alterado.

[2021-02-22 18:52] clarissagpeixoto commented on #15
@danielgula Daniel, a Cléo tá te passando isso? Como está o fluxo?

[2021-02-23 12:19] #25 closed, assigned to danielgula

[2021-02-23 12:19] #18 closed, assigned to danielgula

[2021-02-23 12:19] #17 closed, assigned to danielgula, saracafe

[2021-02-23 12:20] #24 closed, assigned to danielgula

[2021-02-26 14:30] danielgula opened #27 "Inserir novos artigos na seção "Biblioteca""
## **Objetivo**

**Como** usuário
**Quero** acessar a biblioteca
**Para** ver as novas publicações do Elmo

## **Contexto**

Novos artigos foram publicados sobre o Elmo, inclusive um paper próprio

## **Escopo**

- [x] inserir artigo do link https://www.jornaldepneumologia.com.br/details/3501/pt-BR/desenvolvimento-de-um-capacete-para-oferta-de-cpap-e-oxigenoterapia-com-alto-fluxo--elmo-1-0
- [x] i

[2021-03-01 19:02] clarissagpeixoto commented on #26
Pessoal, havíamos conversado em uma reunião passada (sugestão da @Clarisse1983 ) que teríamos dois blocos de perguntas: um bloco relacionado à compra do produto/treinamento e um bloco relacionado ao próprio treinamento. Esse último ainda está em processo de refinamento.
Segue link de acesso à dúvidas relacionadas à compra do produto/treinamento: https://drive.google.com/file/d/1HoeE6t4BLWjTTIA0ije

[2021-03-01 20:32] danielgula opened #28 "Incluir simulação 3D do Elmo na página"
**Como** usuário
**Quero** ver um modelo 3D do Elmo no site
**Para** ter uma visão realística do Elmo

## **Contexto**

Um colaborador da UFC desenvolveu um modelo tridimensional do Elmo em https://skfb.ly/6ZsCI. Entrando em contato com o profissional o mesmo autorizou inserir o modelo dentro do site do Elmo.

## **Escopo**

- [x] - Criar seção Introdução ao capacete Elmo para receber simulação 3D

[2021-03-03 18:06] danielgula opened #29 "Gerar arquitetura de conteúdos do menu do site do Elmo"
## **Objetivo**

**Como** designer
**Quero** priorizar e organizar conteúdos do site atuais e futuros
**Para** definir os itens de menu do site Elmo que os usuários mais precisam acessar.

## **Contexto**

Como exercício para garantir a melhor experiência do usuário, faremos uma vivência com card sorting pelo Miro de forma colaborativa. Considerando a sugestão abaixo:
-----
Sugestão de menu (Publi

[2021-03-04 19:01] clarissagpeixoto opened #30 "Melhorar arquitetura do site"
## **Objetivo**

**Como** pessoa usuária do site Elmo
**Quero** encontrar informações mais rapidamente
**Para** entender melhor o funcionamento do Elmo

## **Contexto**
Hoje as informações do site do Elmo estão alocadas de maneira desordenada, sendo difícil o acesso a determinados conteúdos.

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

-

[2021-03-08 13:44] wforte88 opened #52 "Manejo Clínico Covid-19"

[2021-03-08 17:53] clarissagpeixoto opened #31 "Relatório do Fresh Desk"
O Dr. Marcelo nos pediu um relatório com todas as demandas recebidas pelo site (recebidas no Fresh Desk e e-mail).

[2021-03-09 13:23] #27 closed, assigned to danielgula

[2021-03-09 18:30] clarissagpeixoto opened #32 "Página "Como doar""
## **Objetivo**

**Como** doador
**Quero** fazer uma doação de Elmos ou treinamentos
**Para** para ajudar as instituições de saúde públicas ou privadas (prefeituras, governo do Estado, pequenos hospitais etc) no combate à Covid-19.

## **Contexto**

Estamos vivendo um momento de pandemia. Por esse motivo, muitas instituições privadas e até pessoas físicas têm demonstrado interesse em fazer doações

[2021-03-10 11:19] clarissagpeixoto opened #33 "Mudar "capacitações" por "treinamentos" no botão novo do site"
## **Objetivo**

**Como** usuário
**Quero** acessar o site Elmo
**Para** ver o link de menu Treinamento

## **Contexto**

Para melhor entendimento dos usuários, deve-se colocar o nome Treinamento no menu do site, ao invés de capacitação.

## **Escopo**

- [x] Alterar nome do menu

## **Critérios de Aceitação**

**Dado que** estou no site do Elmo
**Quando** acesso o menu do site
**Então** vejo o li

[2021-03-10 15:34] danielgula commented on #30
Esta demanda já está sendo tratada em outro card (abaixo citado). Portanto podemos fechar essa issue.
https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/29

[2021-03-10 15:34] #30 closed, assigned to nobody

[2021-03-11 20:23] danielgula opened #34 "Ajustar css do formulário de capacitação"
## **Objetivo**

**Como** usuário
**Quero** acessar o novo formulário de capacitação
**Para** ter a mesma experiência do formulário anterior

## **Contexto**

A página em homologação http://dev.servicos.ws/felicilab/elmo-contato/ possui um código com o css utilizado para o formulário Fresdesk. Ele precisa ser ajustado para os padrões visuais do site.

## **Escopo**

- [x] importar CSS da página
-

[2021-03-15 12:51] danielgula commented on #34
Devido às questões de acesso aos arquivos de estilos dentro do iframe, não foi possível construir um estilo próprio para o formulário do Freshdesk. Dessa forma foi ajustado o layout em função do formulário.
Resultado pode ser encontrado em https://sus.ce.gov.br/elmo/faca-sua-capacitacao/

[2021-03-15 12:51] #34 closed, assigned to danielgula

[2021-03-15 12:55] danielgula opened #35 "Inserir Nota Técnica sobre reprocessamento do capacete de respiração assistida Elmo"
## **Objetivo**

**Como** usuário
**Quero** acessar a biblioteca
**Para** ver a Nota Técnica sobre reprocessamento do capacete de respiração assistida Elmo

## **Contexto**

Solicitado pela Ascom, devemos inserir o documento Nota Técnica sobre reprocessamento do capacete de respiração assistida Elmo como projeto da categoria biblioteca

## **Escopo**

- [x] inserir Nota Técnica sobre reprocessamen

[2021-03-15 12:56] danielgula commented on #35
Link da página
https://sus.ce.gov.br/elmo/project/nota-tecnica-sobre-reprocessamento-do-capacete-de-respiracao-assistida-elmo/

[2021-03-15 12:56] #35 closed, assigned to danielgula

[2021-03-16 18:13] julio-alveslopes opened #36 "Incorporar vídeo no site do Elmo"
**Como** usuário
**Quero** acessar o site do Elmo
**Para** ver o vídeo de apresentação do capacete

## **Contexto**

Substituir foto pelo vídeo explicativo "O que é o Elmo?"
https://youtu.be/WhKI8HWxDt0

## **Escopo**

- [x] - trocar elemento de imagem na página inicial pelo elemento de vídeo

## **Critérios de Aceitação**

**Dado que** estou no site do Elmo
**Quando** acesso a página inicial
**en

[2021-03-17 19:12] danielgula commented on #36
O vídeo foi inserido nos seguintes locais:
Página Inicial (substituindo imagem)
Página "O Elmo" - https://sus.ce.gov.br/elmo/o-elmo/
Página de instruções - https://sus.ce.gov.br/elmo/project/introducao-ao-capacete-elmo/

[2021-03-17 19:12] #36 closed, assigned to danielgula

[2021-03-17 19:14] danielgula commented on #28
O modelo 3D foi adicionado à pagina
https://sus.ce.gov.br/elmo/project/introducao-ao-capacete-elmo/

[2021-03-17 19:14] #28 closed, assigned to danielgula

[2021-03-17 19:22] danielgula opened #37 "Inserir aviso sobre priorização dos treinamentos"
## **Objetivo**

**Como** usuário
**Quero** acessar a página de treinamento
**Para** ver mensagem de priorização da capacitação

## **Contexto**

Em acordo com Ascom, inserir texto na página de treinamento como um :

Atenção:

Os treinamentos priorizarão unidades de saúde que já possuem o Elmo disponível para uso. O foco das capacitações é na formação de agentes multiplicadores e as turmas devem c

[2021-03-22 15:28] danielgula opened #38 "Inserir artigos na biblioteca"
## **Objetivo**

**Como** usuário
**Quero** acessar a biblioteca
**Para** ver os novos artigos sobre o Elmo

## **Contexto**

- Como continuidade no entendimento da tecnologia, uso e resultados do Elmo, mais artigos devem ser colocados no site para dar maior subsídio ao equipamento.

## **Escopo**

- [x] Inserir artigo de https://ccforum.biomedcentral.com/articles/10.1186/cc6875
- [x] Inserir arti

[2021-03-23 11:41] #31 closed, assigned to wforte88

[2021-03-23 13:13] danielgula commented on #38
Links dos entregáveis
https://sus.ce.gov.br/elmo/project/effect-of-a-heated-humidifier-during-continuous-positive-airway-pressure-delivered-by-a-helmet/
https://sus.ce.gov.br/elmo/project/efficiency-of-cold-passover-and-heated-humidification-under-continuous-positive-airway-pressure/

[2021-03-23 13:13] #38 closed, assigned to danielgula

[2021-03-24 16:00] #37 closed, assigned to danielgula

[2021-03-24 16:12] wforte88 opened #39 "Criar página "Doações""
## **Objetivo**

**Como** usuária do site do Elmo
**Quero** ter acesso a informações sobre doações
**Para** saber o impacto das doações na distribuição do Elmo para as unidades de saúde

## **Contexto**

Desde dezembro de 2020, algumas entidades se mobilizaram para adquirir Elmos e doá-los a unidades de saúde com sobrecarga de atendimento a pacientes graves com Covid-19. Seguindo o princípio da tr

[2021-03-29 16:29] wforte88 commented on #39
**Ajustes necessários**

- [x] Na frase dos indicadores, alertar "elmos doados à Saúde do Ceará" para "Elmos doados ao SUS no Ceará"
- [x] Substituir "Quem doa:" por "Últimas doações"

[2021-03-29 16:30] wforte88 commented on #39
**Alteração de escopo**
A Ascom solicitou maior destaque para a página "Doações". Foi incluído no escopo a inserção na home page de um bloco para a página.

[2021-03-31 17:21] danielgula commented on #39
Página criada em
https://sus.ce.gov.br/elmo/doacoes/

[2021-03-31 17:21] #39 closed, assigned to danielgula

[2021-04-14 19:51] danielgula opened #40 "Incluir o número de pessoas por treinamento no site"
## **Objetivo**

**Como** usuário do site Elmo
**Quero** acessar o formulário de Treinamento
**Para** preencher o número de pessoas a serem treinadas

## **Contexto**

Quando um usuário vai fazer uma solicitação de treinamento, ele entra nos campos de formulário. Não existe o campo específico para que o número de pessoas a serem treinadas seja escrito.

## **Escopo**

- [ ] incluir campo tipo núme

[2021-04-14 19:56] danielgula commented on #32
Página criada em
https://sus.ce.gov.br/elmo/doacoes/

[2021-04-14 19:56] #32 closed, assigned to danielgula

[2021-04-14 20:07] danielgula commented on #9
Página criada em
https://sus.ce.gov.br/elmo/depoimentos/

[2021-04-14 20:07] #9 closed

[2021-04-15 13:02] danielgula opened #41 "Incluir artigo na biblioteca"
## **Objetivo**

**Como** usuário
**Quero** acessar a biblioteca
**Para** ver os novos artigos sobre o Elmo

## **Contexto**

- Como continuidade no entendimento da tecnologia, uso e resultados do Elmo, mais artigos devem ser colocados no site para dar maior subsídio ao equipamento.

## **Escopo**

- [x] Procurar referência do artigo Use of Helmet CPAP in COVID-19 --- A practical review
- [x] Inse

[2021-04-15 17:23] danielgula opened #42 "Incluir lista de doadores do Elmo"
## **Objetivo**

**Como** usuário
**Quero** acessar a página de doações
**Para** ver os doadores do elmo

## **Contexto**

- Com a autorização do secretário de saúde, a Sesa passou os nomes dos doadores do Elmo, que devem estar em menor destaque na página de doações e atualizado com frequência.

## **Escopo**

- [x] Criar seção com a lista de doadores da página
- [x] Criar subtítulo
- [x] Inserir

[2021-04-15 19:48] danielgula commented on #42
Alterações feitas na página
https://sus.ce.gov.br/elmo/doacoes/

[2021-04-15 19:48] #42 closed, assigned to danielgula

[2021-04-16 11:49] wforte88 opened #43 "Adaptar o Plano Político Pedagógico 2020 para subsite"
O PPP é um documento que norteia as atividades de uma instituição de ensino. De forma geral, ele declara as intencionalidades pedagógicas, a visão de ensino e aprendizagem da instituição e a forma como ela pretende desenvolver essas ações.
O [PPP 2020 da ESP](https://drive.google.com/drive/folders/1Ikdd67-a2vBrN-7G2yt-TbW5oKIT0qgW) está disponível atualmente em PDF e deve ser convertido para um su

[2021-04-16 12:27] wforte88 opened #44 "Definir arquitetura da informação"
## **Objetivo**

**Como** designer
**Quero** desenhar a estrutura de informação do PPP
**Para** planejar essa estrutura no subsite

## **Contexto**
O PPP é um documento formal de 125 páginas. É necessário adaptá-lo para páginas HTML que facilitem o acesso e a localização das informações específicas em um subsite do SUS.CE.

## **Escopo**

- [x] Analisar sumário do PPP
- [x] Propor AI do subsite
-

[2021-04-22 14:05] danielgula opened #45 "Implementar links curtos personalizados para o sus.ce"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

Analisar implementação de links curtos personalizados para o sus.ce

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Links de apoio e informações adicionais

[2021-04-23 11:30] #21 closed, assigned to danielgula

[2021-04-23 11:30] #19 closed, assigned to danielgula

[2021-04-23 11:30] #12 closed, assigned to danielgula, clarissagpeixoto, saracafe

[2021-04-27 13:35] danielgula opened #46 "Criar subsite do PPP"
## **Objetivo**

**Como** usuário
**Quero** acessar um website sobre o PPP
**Para** conhecer o Projeto Político Pedagógico da ESP

## **Contexto**
O PPP é um documento formal de 125 páginas. É necessário adaptá-lo para páginas HTML que facilitem o acesso e a localização das informações específicas em um subsite do SUS.CE.

## **Escopo**

- [x] criar subsite em sus.ce.gov.br
- [x] Criar templates d

[2021-04-29 19:39] danielgula commented on #41
Link da publicação
https://sus.ce.gov.br/elmo/project/use-of-helmet-cpap-in-covid-19-a-practical-review/

[2021-04-29 19:39] #41 closed, assigned to danielgula

[2021-04-29 19:40] danielgula commented on #33
Link alterado no menu
https://sus.ce.gov.br/elmo/

[2021-04-29 19:40] #33 closed, assigned to danielgula

[2021-04-29 19:55] marameida commented on #26
**1. Aquisição do equipamento**

**Onde posso comprar o Elmo?**

Olá! Somos do Núcleo de Inovação Tecnológica da Escola de Saúde Pública do Ceará. Respondendo  à sua dúvida, seguem abaixo algumas informações.

💰 Para a aquisição do Elmo, solicitamos que você entre em contato com a Esmaltec através dos telefones: (85) 98802.6585 / (85) 3299.8716

📚 Posteriormente, para capacitação dos profissionais

[2021-04-29 19:59] marameida opened #47 "Remover carrinho do formulário e dar destaque ao número de alunos."
## **Objetivo**

**Como** usuário do site do elmo
**Quero** remover a figura do carrinho da página "treinamento" e e deixar em destaque o número de alunos;
**Para** não vincular a ideia direta de compra ao tomador de serviço e permitir melhor preenchimento da solicitação de treinamento.

## **Contexto**
O solicitante de treinamento visualiza a imagem de um  "carrinho de compra" quando seleciona a

[2021-04-29 21:23] danielgula commented on #44
Devido à urgência da demanda, a arquitetura foi criada em documento compartilhado com os gestores e foi refinada durante o processo de desenvolvimento do MVP1.
Link para acesso: https://docs.google.com/document/d/1ZAIoi6TWVtst7jBxcyWja5mGayFr5O2s7yeac3DCCPE/edit
No próximo MVP serão alocadas horas para um estudo melhor da arquitetura.

[2021-04-29 21:23] #44 closed, assigned to danielgula

[2021-04-30 14:37] danielgula commented on #46
Site criado no link:
http://ppp.esp.ce.gov.br/

[2021-04-30 14:37] #46 closed, assigned to danielgula

[2021-05-07 01:32] danielgula opened #48 "Inserir depoimento do Elmo"
## **Objetivo**

**Como** usuário
**Quero** acessar o link Elmo>>Depoimentos
**Para** ver os novos depoimentos sobre o Elmo

## **Contexto**

- Um novo depoimento foi criado pela Ascom, que solicita a inclusão do mesmo na página de depoimentos.

## **Escopo**

- [x] Copiar informações do documento da pasta do Elmo
- [x] Tratar imagem do depoimento
- [x] Criar módulo Divi na página

## **Critérios

[2021-05-07 12:21] danielgula opened #49 "E-mail de confirmação de novo usuário não consegue ser enviado"
## **Objetivo**

**Como** usuário do sus.ce
**Quero** receber email de cadastro de novo usuário
**Para** completar o cadastro de usuário

## **Contexto**

Quando um administrador do sus.ce tenta criar um novo usuário e envia a solicitação por email para a pessoa, o email não chega ao destinatário. Analisando o plugin WPmail SMTP percebemos um erro de configuração:

EMAIL DELIVERY ERROR: the plugin

[2021-05-07 15:46] danielgula commented on #48
Alterações feitas em
https://sus.ce.gov.br/elmo/depoimentos/

[2021-05-07 15:46] #48 closed, assigned to danielgula

[2021-05-11 11:12] wforte88 commented on #20
Material de referência:
[ELMO-DICAS RÁPIDAS.pptx](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/6458725/ELMO-DICAS.RAPIDAS.pptx)
[Manual ELMO.pdf](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/6458727/Manual.ELMO.pdf)

[2021-05-11 21:00] danielgula commented on #20
Ajustes feitos na página para revisão:
https://sus.ce.gov.br/elmo/project/principios-de-uso/

[2021-05-13 11:49] #43 closed, assigned to nobody

[2021-05-13 19:10] danielgula commented on #47
Conforme conversado com @wforte88 e @marameida, não será possível realizar esta issue.
Motivo: o código utilizado para os formulários no site é de terceiros e não pode ser modificado em sua forma e estilo.

[2021-05-19 13:02] wforte88 opened #50 "Atualizar o logotipo do Gov/Sesa nos sites"
## **Objetivo**

**Como** gestor de comunicação institucional
**Quero** uniformizar a identidade visual do Governo do Estado do Ceará
**Para** reforçar a presença da marca atual

## **Contexto**

O Governo do Estado do Ceará atualizou a tipografia oficial, aplicada em conjunto com o brasão. É necessário consistir a nova identidade em todas as mídias institucionais.

## **Escopo**

Atualizar o logo

[2021-05-19 13:10] danielgula opened #51 "Remover autor dos conteúdos do site do Observatório"
## **Objetivo**

**Como** usuário
**Quero** acessar o site do observatório
**Para** ver os posts sem autor

## **Contexto**

Como os conteúdos publicados pelo Observatório da ESP são feitos pela equipe, foi solicitado remover a tagline de autor quando forem publicados conteúdos no site.

## **Escopo**

- [x] pesquisar no site onde aparece a tagline autor
- [x] configurar tema do Wordpress para esc

[2021-05-20 14:34] pauloamoreira opened #53 "Consolidação de Conteúdos para o site do Manejo Covid-19 MVP2"
## **Objetivo**

**Como** designer
**Quero** consolidar conteúdos previstos para o site do Manejo Covid-19 MVP2
**Para** confirmar indicações de inclusão de elementos visuais e realizar dupla camada de revisão em referências bibliográficas

## **Contexto**

- Em decorrência do processo de construção do MVP2 do site do Manejo Clínico do Covid-19, se faz necessário confirmar as indicações para inclu

[2021-05-21 18:51] danielgula opened #75 "Vídeo tutorial de criação de conteúdos em Wordpress"
## **Objetivo**

**Como** usuário
**Quero** ter acesso a um tutorial
**Para** saber os principais passos na atualização de conteúdos de um site Wordpress

## **Contexto**

Com o aumento de

## **Escopo**

- [ ] agendar treinamento com usuários Observa EPS
- [ ] pegar contas de login e email
- [ ] criar contas no subsite WP
- [ ] gravar treinamento
- [ ] editar treinamento
- [ ] publicar em pasta n

[2021-05-24 11:14] #47 closed, assigned to wforte88, danielgula, marameida, clarissagpeixoto

[2021-05-25 17:50] marameida commented on #26
Dados à serem discutidos com @danielgula  em reunião 27/05/2021

[2021-05-26 13:38] danielgula commented on #51
Em conversa com o editor deste subsite, foi detectado que ele estava criando conteúdos como 'posts', quando deveria criar 'projetos'. Dessa forma, o formato de post apareceria o autor. Foi orientado que o usuário faça testes recriando os conteúdos como projetos. Aguardando revisão.

[2021-05-27 17:58] marameida commented on #26
Repasse feito em reunião com @clarissagpeixoto e @danielgula. Dúvidas serão revisadas para efetivação da demanda.

[2021-05-27 18:20] clarissagpeixoto commented on #26
Daniel, precisamos aprimorar o FAQ do site do Elmo.
Solicitamos que seja incluso no menu, se possível, o item "Dúvida Frequentes" e os submenus "Aquisição e treinamento"/"Dúvidas Técnicas".

As dúvidas técnicas sobre o manejo serão aprimoradas pelos CEDES. Por enquanto, podemos permanecer com as quatro que estão no site.

As dúvidas sobre os treinamentos seguem no link a seguir: https://docs.googl

[2021-05-28 02:58] danielgula opened #54 "Upgrade do site felicilab versão "emergencial""
## **Objetivo**

**Como** usuário
**Quero** acessar o site do felicilab
**Para** ter uma melhor experiência de navegação

## **Contexto**

Com as demandas de publicação de conteúdo urgentes a serem publicadas na internet, foi criada uma versão simplificada do site do felicilab, no endereço https://sus.ce.gov.br/felicilab/

## **Escopo**

- [x] alterar largura do site
- [x] ajustar fontes
- [x] aju

[2021-05-28 14:42] marameida opened #55 "Atualizar a página de doações no site do Elmo"
## **Objetivo**

**Como** usuário do site Elmo
**Quero** atualizar a página de doações
**Para** visualizar formulário de preenchimento com dados do interessado em doar.

## **Contexto**
Atualmente a pessoa interessada em doar, entra no site e tem acesso aos contatos telefônicos e por email.
https://sus.ce.gov.br/elmo/doacoes/. Após o primeiro contato, são solicitadas as informações necessárias par

[2021-05-28 15:01] marameida commented on #55
@clarissagpeixoto conforme combinado em reunião podemos construir esse texto para inclusão no site, detalhando sobre o preenchimento do formulário de dados para intenção de doar?

[2021-05-31 18:57] danielgula opened #56 "Substituir "Telemedicina" por "Elmo" no site coronavirus"
## **Objetivo**

**Como** usuário
**Quero** acessar o site do coronavirus
**Para** ver uma chamada do Elmo

## **Contexto**

No link https://coronavirus.ceara.gov.br/profissional/ constam informações sobre o Telemedicina. O serviço foi descontinuado nesse formato e o número de telefone hoje é inclusive utilizado para outros fins. O espaço será substituído pelo Elmo, com os dizeres:

Capacete Elmo

[2021-06-01 13:56] danielgula opened #57 "Criar Página de conteúdos especiais do Capítulo iSUS"
## **Objetivo**

**Como** usuário
**Quero** acessar uma página extra
**Para** ver conteúdos especiais do capítulo iSUS

## **Contexto**

Foi criado o subsite no Wordpress sus.ce.gov.br/isus, mapeando para https://i.sus.ce.gov.br/, local este que receberá conteúdos relacionados ao iSUS. Em uma publicação da escola, um capítulo, escrito pelo Felicilab, deverá chamar diversos links de material extra,

[2021-06-01 14:04] danielgula opened #58 "Inserir timeline na página de conteúdos especiais do iSUS"
## **Objetivo**

**Como** usuário
**Quero** acessar a página de conteudos especiais do iSUS
**Para** ver a linha do tempo do iSUS

## **Contexto**

Foi planejada a página https://i.sus.ce.gov.br/extra, que contem conteúdos especiais do capítulo sobre o iSUS de uma publicação da ESP. Um desses conteúdos deve mostrar uma linha do tempo com acontecimentos do iSUS.

## **Escopo**

- [ ] avaliar o esfo

[2021-06-02 13:31] marameida opened #59 "Criar novo espaço "ESPvirtual" no site Elmo"
## **Objetivo**

**Como** usuário do site Elmo
**Quero** visualizar o item "ESPvirtual"
**Para** estar melhor integrada ao "ambiente virtual de aprendizagem" .

## **Contexto**
Atualmente  quando acessamos o site do Elmo, não existe comunicação com o AVA e seu conteúdo.

## **Escopo**

- [x] Incluir item "ESPvirtual" no site do Elmo;
- [x] Integrar as informações presentes no AVA com o site do Elm

[2021-06-02 13:56] marameida commented on #59
Necessário melhor alinhamento desta demanda com Clayton, @wforte88  e @danielgula.

[2021-06-02 20:00] danielgula commented on #26
Fiz alguns comentários no doc referentes aos temas e perguntas formuladas para melhor compreensão dos usuários. A página com a versão atual (ainda bloqueada para o consumidor) é essa:
https://sus.ce.gov.br/elmo/perguntas-frequentes/
A senha para acesso foi enviada no grupo do Telegram.

[2021-06-02 20:08] #50 closed, assigned to danielgula

[2021-06-02 20:30] clarissagpeixoto commented on #26
@danielgula respondi a todos os seus questionamentos agora. Dá uma olhada.

[2021-06-07 20:43] marameida commented on #59
Agendada reunião de refinamento com @danielgula, Clayton e @chicaothiago
Data: 09/06/2021
Horário: 9h

[2021-06-09 13:24] ClarisCaval commented on #57
@danielgula a diferença entre essa página e a própria página do iSUS me incomodou bastante. Nem parece que estamos falando do mesmo produto - a proporção das fontes, as cores... Penso que embora seja um link que só será disponibilizado através do livro, devia preservar uma harmonia com o que já existe de conteúdo sobre o produto. Inclusive pq é possível que a gente estimule, após o lançamento do c

[2021-06-09 19:11] danielgula commented on #57
Clarisse, é possível refinar isso com o time do Ciêncialab? Todos os conteúdos foram solicitados por eles. Sobre o design, o iSUS não tem manual de identidade nenhum. Mas em comum acordo podemos encontrar uma definição para isso.

Apenas por questão de histórico, estamos falando da página https://i.sus.ce.gov.br/extra/

[2021-06-10 17:27] marameida commented on #59
Ata breve de reunião 09/06/21: presentes Samara, Clayton, Cleo, Chicão e Daniel.

Discutido como fazer melhor integração entre AVA e site ELMO;
Espaço para acesso ao AVA descrito na aba "TREINAMENTOS" e no MENU de opções do site.
Necessário maior detalhamento sobre os tipos de treinamento (EAD e PRESENCIAL no site), informando sobre as demais ferramentas (iSUS e AVA) que fazem parte do suporte pós

[2021-06-10 19:21] marameida commented on #26
No aguardo por validação do Uirá para publicação no site.

[2021-06-14 21:07] marameida commented on #26
Enviado email para CEDES e ASCOM para validação.

1. Recebido até o momento devoltiva do CEDES (Rafael)(https://drive.google.com/drive/u/1/folders/1B1WY7lenMhe3DF7Xr72t4_0h0kKzpSz9).
2. Ariane da ASCON referiu estar trabalhando no retorno, juntamente com a Betina indicada pelo Dr Marcelo.
OBS: Após devolutivas, as sugestões serão acatadas e publicadas no site do Elmo.

[2021-06-15 18:58] danielgula commented on #54
De acordo com refinamento com @wforte88 , @danielgula e @Clarisse1983 vão refinar a home para terminar de melhorar o site e entregar a versão temporária funcionando.

[2021-06-15 21:35] danielgula commented on #59
Foi inserido um nível se submeno na aba treinamento para acessar o link abaixo fornecido pelo CEDES
http://cursos.espvirtual.esp.ce.gov.br/

[2021-06-16 15:06] danielgula commented on #54
Foram feitos ajustes para compatibilizar o menu e o background do site para melhor experiência com o Divi. Vamos agendar um refinamento com designlab e publicilab na validação e sugestões de melhoria da versão atual.

[2021-06-17 17:47] danielgula commented on #57
De acordo com nosso último refinamento, ficaram as seguintes atividades a serem feitas:
1. Entrar em contato com Ascom para ver o layout visual da publicação e formatos digitais dele
2. Perguntar para interessados do livro se haverá algum outro conteúdo extra de algum capítulo da publicação

Após essas definições, publicilab + ciencialab farão:
1. revisão de conteúdos da página
2. ordem de conteúd

[2021-06-18 20:27] danielgula opened #60 "Criar aba de indicadores"
## **Objetivo**

**Como** usuário
**Quero** acessar o site do Observatorio
**Para** ver indicadores consolidados

## **Contexto**

Os indicadores hoje estão divididos no site do Observatório dentro de quatro temas estratégicos através dos eixos. Em uma revisão da equipe eles devem estar agora consolidados em uma única página.

## **Escopo**

- [x] criar página de indicadores
- [x] Migrar dados par

[2021-06-22 16:58] marameida opened #61 "Enviar imagens de logo do Elmo para integração com iSUS"
## **Objetivo**

**Como**  usuária do ISUS
**Quero** acessar a determinadas imagens (descritas em "observações")
**Para**integrar o site Elmo ao aplicativo em questão. .

## **Contexto**
Atualmente a equipe do ISUS está realizando a integração e fez a solicitação.

## **Escopo**

- [x] Solicitar ao designlab (@danielgula ) enviar imagens aqui descritas para a equipe do Elmo (contato @chicaotgv )

[2021-06-22 17:41] danielgula commented on #51
Refinamento feito. Os usuários do site farão os ajustes dos conteúdos como "projetos".

[2021-06-22 17:41] #51 closed, assigned to danielgula

[2021-06-22 21:58] danielgula commented on #61
Segue exemplos para validação e teste no modelo.

[iSUS.zip](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/6697632/iSUS.zip)

[2021-06-22 22:00] danielgula commented on #60
Segue página criada
https://observatorio.esp.ce.gov.br/indicadores/

[2021-06-22 22:00] #60 closed, assigned to danielgula

[2021-06-23 15:00] ClarisCaval commented on #57
Aqui o showcase Todos Juntos, que estava no drive, e que Ana acabou de subir pro canal:
https://www.youtube.com/watch?v=rkPUzvNXlNI

[2021-06-24 12:01] oxechicao commented on #61
@danielgula as imagens são um quadrado de fundo transparente :\

[2021-06-24 13:17] danielgula commented on #61
Ocorreu um erro na exportação pois os elementos eram imagens em bitmap. Oe elementos foram todos redesenhados em vetor para atender às especificações e agora devem estar em conformidade. Segue arquivo corrigido com os elementos SVG.
[iSUS.zip](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/6709470/iSUS.zip)

[2021-06-24 14:27] danielgula commented on #57
Atualizando a demanda, cujas atividades foram adicionadas ao card:

1. Entrar em contato com Ascom para ver o layout visual da publicação e formatos digitais dele - R. vai demorar e portanto faremos com o layout da página do iSUS
2. Perguntar para interessados do livro se haverá algum outro conteúdo extra de algum capítulo da publicação - R. não teremos outro conteúdo assim, portanto faremos pelo

[2021-06-24 18:05] clarissagpeixoto commented on #26
Vou checar os ajustes passados pela ASCOM e pelo CEDES e dar continuidade ao trabalho.

[2021-06-24 18:12] marameida commented on #59
Ok, @danielgula. Vamos  fechar essa atividade.

[2021-06-24 18:23] marameida commented on #61
Ciente. Atividade em progresso.

[2021-06-24 18:26] clarissagpeixoto commented on #61
Pessoal, temos imagens com várias extensões e formatos. Caso ajude, segue o link: https://drive.google.com/drive/u/2/folders/1Es586olWp9nGjgIex4IN-akEA4rQv3Uu

[2021-06-24 18:37] marameida commented on #20
@uira e Alice aprovamos esse material com vocês e Dr Marcelo? Pedimos orientação para fechamento dessa atividade.

[2021-06-28 13:36] clarissagpeixoto commented on #26
@marameida vi que algumas pessoas desconhecem o termo FAQ (frequent answers and questions), o que gerou vários ruídos de comunicação. Dessa forma, sugiro a mudança para o termo "Perguntas Frequentes". No tocante à aprovação, o CEDES não havia entendido direito a demanda. Repassei pessoalmente para o Rafa, que ficou de analisar e me dar um retorno. Mostrei a ele a lista de dúvidas técnicas que venh

[2021-06-28 13:37] clarissagpeixoto commented on #26
Desconsiderar o arquivo que o Rafa enviou anteriormente.

[2021-06-28 14:13] marameida commented on #61
No aguardo por devolutiva de @oxechicao sobre imagens recebidas.

[2021-06-28 14:14] marameida commented on #26
No aguardo por devoltiva do CEDES para finalização do arquivo. Repassado para Designlab.

[2021-06-28 14:16] marameida commented on #20
Repassado link para Cleo (CEDES) para validação final.
https://sus.ce.gov.br/elmo/project/principios-de-uso/

[2021-06-28 14:32] marameida commented on #61
Confirmado recebido das imagens com @oxechicao . Atividade atendida.

[2021-06-28 14:33] #61 closed, assigned to oxechicao, danielgula, marameida

[2021-06-28 19:12] marameida opened #62 "Ajustar nome no site do Elmo de "Capacitação" para "Treinamento""
## **Objetivo**

**Como** usuária do site elmo
**Quero** substituir o item "capacitação" por treinamento
**Para** para o termo ficar mais adequado.

## **Contexto**
Atualmente o termo ainda presente no site está como "capacitação"

## **Escopo**

**Ascom**
 - [x] Revisar página "Faça seu treinamento"

**Designlab**
- [x] Substituir a palavra "capacitação" por "treinamento" no menu
- [x] Substituir

[2021-06-29 14:31] danielgula commented on #62
@marameida, alterei as atividades do card conforme nosso refinamento. Avaliando todo o site, o designlab fez todos os ajustes de conteúdos, menus, elementos e páginas de acesso (veja no card). Fica a cargo da Ascom e responsáveis fazerem a correção do texto da página https://sus.ce.gov.br/elmo/faca-seu-treinamento/ para que possamos atualizar.

[2021-06-29 16:15] marameida commented on #20
Conversado presencialmente com Cleo e Clayton para validação do material com equipe de pesquisadores do ElmoLab.

[2021-06-29 23:23] danielgula opened #63 "Ajustar erro de código aparecendo na página de links do Felicilab"
## **Objetivo**

**Como** usuário
**Quero** acessar a página de links
**Para** ver a página sem erros de script

## **Contexto**

Um erro do módulo de script está fazendo que seja escrito parte do código da página. O ideal é fazer com que não seu use um código para esconder o menu superior, e fazer isso com CSS.

## **Escopo**

- [x] eliminar linhas de código
- [x] reconstruir a página com CSS

##

[2021-06-30 12:58] marameida commented on #20
Será validado por Rafael e Betina

[2021-07-05 15:35] RaniGub commented on #54
----Verificações da versão Desktop----
Sugestões:
- Testar as opções no topo do site:
1. Assinatura negativa com sem círculo no fundo;
2. Assinatura original com fundo branco (ou outro que gere constraste) e sem círculo no fundo;
3. Integrar assinatura negativa com a frase 'Bem-vinde ao..." como imagem com fundo transparente.

- Acertar background do módulo 'Projetado pela ESP..." no rodapé para o

[2021-07-05 15:37] RaniGub commented on #54
- Verificar FavIcon

[2021-07-07 17:45] clarissagpeixoto commented on #26
@danielgula o Rafa nos passou alguns ajustes de texto. É só copiar e colar, substituindo os textos que estão nas respectivas sessões atualmente.

**Que tipos de paciente podem se beneficiar?**
O dispositivo tem indicação para o quadro clínico de insuficiência respiratória hipoxêmica de leve a moderada e também pode auxiliar casos em início de gravidade.
Apesar de surgir como alternativa mais barat

[2021-07-07 18:04] clarissagpeixoto commented on #26
@danielgula EXCLUIR essa parte
Sou investidor e quero contribuir para a produção de mais Elmos. Como posso contribuir?
Entre em contato conosco através do telefone/Whatapp: (85) 98439.0220 que pensaremos em soluções juntos.

[2021-07-07 19:05] #63 closed, assigned to danielgula

[2021-07-07 19:05] #59 closed, assigned to danielgula

[2021-07-09 18:47] RaniGub commented on #76
Aguardando lançamento do site oficial do Felicilab. Tarefa movida para o Backlog.

[2021-07-09 18:51] RaniGub commented on #15
Atividade bloqueada. Aguardando Samara fazer a triagem e dar prioridade ao projeto.

[2021-07-09 18:53] RaniGub commented on #79
Atividade bloqueada. Aguardando posicionamento dos stakeholders sobre o novo site da ESP.

[2021-07-09 18:57] RaniGub commented on #40
Atividade bloqueada. Aguardando triagem e priorização da Samara.

[2021-07-09 19:02] danielgula commented on #26
Página criada e disponibilizada no site.

https://sus.ce.gov.br/elmo/perguntas-frequentes/

[2021-07-12 16:46] clarissagpeixoto commented on #26
@marameida
- A seção "PARCERIAS - Sou investidor e quero contribuir para a produção de mais Elmos. Como posso contribuir?" precisa ser excluída, como solicitado acima. O texto foi apenas alterado e está com informações inconsistentes.
- A seção deve ser chamada "Perguntas Frequentes", como consta na descrição da atividade, não "Tira-dúvidas".
- Fora isso, reli as perguntas antigas (que já estavam

[2021-07-12 19:30] marameida commented on #20
Repassado material (vídeos e arquivo em pdf), elaborado por Betina e Rafael, ao @danielgula, para ajustes necessários.

[2021-07-12 19:37] marameida commented on #62
Ciente @danielgula. Vamos verificar essa última pendência com a ASCOM e CEDES também.

[2021-07-15 18:38] #54 closed, assigned to danielgula, ClarisCaval

[2021-07-15 18:50] marameida commented on #20
Acordado em reunião com @danielgula a realização dos ajustes sugeridos.

[2021-07-15 19:16] marameida commented on #26
Acordado com @danielgula ajustes nas demandas. Serão refinadas com @clarissagpeixoto.

[2021-07-15 19:25] marameida commented on #40
Estamos relaizando essa demanda rotineiramente.

[2021-07-15 19:27] marameida commented on #13
Necessário analisar viabilidade.

[2021-07-23 00:51] #62 closed, assigned to danielgula, marameida, clarissagpeixoto

[2021-07-23 00:51] #26 closed, assigned to danielgula, marameida, clarissagpeixoto

[2021-07-23 12:00] #53 closed, assigned to pauloamoreira

[2021-07-26 11:43] marameida commented on #20
Agendado momento com @danielgula para encerramento desta atividade.

[2021-08-02 16:11] marameida commented on #20
No aguardo ainda por retorno do Designlab.

[2021-08-04 12:42] marameida commented on #20
@danielgula está em contato direto com o CEDES, para finalizar demanda.

[2021-08-05 14:13] danielgula opened #64 "Upgrade da landing page do sus.ce.gov.br"
## **Objetivo**

**Como** usuário
**Quero** acessar a página principal do sus.ce.gov.br
**Para** ver os produtos e serviços do FeliciLab

## **Contexto**

A página inicial do sus.ce.gov.br está com os dizeres "em breve" e temos muitos produtos publicados em plataformas digitais. Queremos melhorar essa página para dar mais visibilidade e conexões aos projetos e à marca FeliciLab.

## **Escopo**

##

[2021-08-09 12:21] marameida commented on #20
Reunião agendada com @danielgula para demandas junto ao Designlab.

Data: 10/08/21
Horário: 9:30

[2021-08-09 12:37] marameida commented on #15
Serão incluídas após fechamento das novas estatisticas junto à @camilaccolares.

[2021-08-10 11:37] danielgula commented on #20
Rafael do CEDES está verificando as alterações para nos passar.

[2021-08-10 12:09] marameida commented on #13
Visto processo de comunicação atual, esta demanda não se faz mais necessária.

[2021-08-16 14:48] wforte88 commented on #10
Refinar escopo da terefa após inception da Central de Informações do SUS-CE.

[2021-08-18 12:38] marameida commented on #20
Ainda no aguardo por retorno com Rafael do CEDES.

[2021-08-19 11:37] RaniGub commented on #29
@danielgula alinhar os direcionamentos da tarefa com @clarissagpeixoto e @marameida

[2021-08-19 15:12] wforte88 commented on #88
@Clarisse1983 Estamos limpando o board do DesignLab e nos deparamos com essa demanda antiga. Houve alguma atualização em relação aos termos?

[2021-08-19 15:16] RaniGub commented on #49
@danielgula verificar se o erro persiste. Se sim, seguir o escopo da tarefa.

[2021-08-19 15:33] RaniGub commented on #64
Considerar refinamento com a @Clarisse1983 e @pauloamoreira

[2021-08-19 15:34] RaniGub commented on #10
Prioridade média.

[2021-08-19 15:35] RaniGub commented on #52
Conectar as tarefas realizadas e analisar o que está faltando.

[2021-08-19 15:43] wforte88 commented on #77
@danielgula Verificar referência dos sites institucionais e adequar o padrão que já foi instituído para contemplar os pontos listados nessa issue.

[2021-08-19 15:45] wforte88 commented on #77
Sugestão: incluir licença Creative Commons. Verificar com @uira

[2021-08-19 15:45] RaniGub commented on #77
Adaptar essa tarefa como história do usuário. Considerar ícones já instituídos nos sites oficiais.

[2021-08-19 15:51] RaniGub commented on #13
@marameida podemos fechar a tarefa então?

[2021-08-20 03:44] uira commented on #77
@wforte88 perfeito, vamos colocar sim.

também importante colocar o Desenvolvido pela Escola de Saúde Pública do Ceará, através do FeliciLab 🌈, com os respectivos links.

na regua de logos tem que ter esp, sesa e governo também, sempre.

[2021-08-23 13:58] danielgula opened #65 "Criar MVP1 do Site Cisec"
## **Objetivo**

**Como** designer
**Quero** criar o site do Sisec
**Para** publicar na internet o MVP1

## **Contexto**

A equipe do Centro de Inteligência pretende lançar uma versão inicial do site do Cisec, com algumas funcionalidades e conteúdos para seu público-alvo, gestores, universidades e tomadores de opinião. Esse site já foi criado dentro da plataforma multisite do Wordpress, no endereç

[2021-08-23 14:03] danielgula commented on #29
Aguardando reunião com equipe para planejar a versão 2.0 do site

[2021-08-23 14:12] RaniGub commented on #29
@marameida @clarissagpeixoto

[2021-08-23 14:57] clarissagpeixoto commented on #29
Dá certo sexta de manhã?

[2021-08-26 12:23] geniltonfaheinajr commented on #57
Em junho, a previsão de lançamento do livro seria em agosto. Pedi uma posição da Lígia sobre o lançamento do livo, pois assim que ele for lançado precisaremos da página também lançada.

[2021-08-26 12:51] geniltonfaheinajr commented on #57
Resgatando o que decidimos na última reunião sobre essa pauta. Os vídeos a serem apresentados no capítulo seriam divulgados a partir do Youtube e não mais a partir do drive.
No entanto, agora temos essa questão sobre as políticas de comunicação.
Precisamos decidir essas questões para deixar na ponta da agulha quando o livro for lançado.

[2021-08-27 17:57] RaniGub commented on #65
Comentário copiado da tarefa EscolaDeSaudePublica/DesignLab#97, está mais adequado a este card.

Segue relatório do refinamento da tarefa com a equipe.

**Marca**
Sobre ela, precisamos fazer alguns ajustes visuais para melhor uso nas plataformas pretendidas.

Soluções
O Cisec está desenvolvendo diversas soluções que serão acessadas em formato web e mobile. A equipe composta por colegas do NIT + Ci

[2021-08-30 13:03] marameida commented on #20
Enviado videos e audios recebidos pelo CEDES ao Designlab (@danielgula ).

[2021-09-06 12:56] danielgula opened #74 "Site Elmo 2.0"
## **Objetivo**

**Como** usu[ario
**Quero** acessar o site do Elmo
**Para** ter uma experiência melhorada do produto

## **Contexto**

O site do Elmo foi publicado como uma landing page para divulgação do produto e evoluiu com vários conteúdos. Com a evolução do capacete, novos conteúdos estão sendo pedidos, bem como é necessário um estudo melhor da experiência do usuário, novas funcionalidades e

[2021-09-06 12:58] danielgula commented on #29
Demanda foi para um novo épico, uma vez que o subsite já foi publicado.

[2021-09-06 12:59] danielgula commented on #40
Demanda foi para um novo épico, uma vez que o subsite já foi publicado.

[2021-09-06 12:59] danielgula commented on #15
Demanda foi para um novo épico, uma vez que o subsite já foi publicado.

[2021-09-06 13:02] danielgula commented on #3
Este épico será encerrado, pois o subsite do Elmo já foi entregue e está no ar. Novas demandas serão tratadas em um novo épico ou como atualizações de rotina.

[2021-09-06 13:02] #3 closed

[2021-09-06 13:45] danielgula opened #66 "Construir template no Divi para o protótipo do CISEC"
## **Objetivo**

**Como** usuário
**Quero** acessar o site Cisec
**Para** conhecer e ver os dados de inteligência

## **Contexto**

O Centro de inteligência precisa urgentemente apresentar seus primeiros simuladores para a sociedade e, portanto, precisa de um site para que esses dados sejam divulgados e acessados. A construção emergencial de um MVP tem como principal objetivo ajudar a construir um

[2021-09-06 23:13] uira commented on #74
@danielgula importante segurar essa atividade pra depois de termos o projeto específico do Elmo elaborado e em execução.

[2021-09-09 12:11] #66 closed, assigned to danielgula

[2021-09-09 16:58] danielgula commented on #20
Todas as alterações foram feitas na página
https://sus.ce.gov.br/elmo/project/principios-de-uso/

[2021-09-09 19:18] danielgula opened #67 "Criar arquitetura da informação do site CISEC"
## **Objetivo**

**Como** designer
**Quero** criar a AI do site CISEC
**Para** nortear o design e elaboração de páginas e navegação

## **Contexto**

O Site do SISEC possui um protótipo feito pelo time da Inteligência da ESP, mas precisa de uma organização quanto a conteúdos e jornada do usuário. Foram feitos encontros para alinhar esse processo, mesmo tendo alterações constantes do escopo por par

[2021-09-09 19:53] danielgula commented on #66
Segue link do protótipo:

https://sus.ce.gov.br/cisec/

[2021-09-09 19:55] danielgula commented on #67
Link do Figma que foi divulgado com a equipe da inteligência:
https://www.figma.com/file/rW8xzfcInA1VjU39jEJRXH/Arquitetura-da-Informa%C3%A7%C3%A3o?node-id=0%3A1

[2021-09-14 13:13] danielgula opened #68 "Inclusão de usuários editores no site CISEC"
## **Objetivo**

**Como** designer
**Quero** criar um usuário para o CISEC
**Para** dar liberdade na atualização de conteúdos do site pelo time

## **Contexto**

Os conteúdos do site do CISEC estão sendo concluídos e a equipe do time solicitou a inclusão de usuário editores para o site. O Designlab fará a criação e treinamento de pessoas no Wordpress.

## **Escopo**

- [x] criar usuário para edito

[2021-09-14 17:59] danielgula opened #69 "Criar seção com a equipe do Elmo"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

Foi repassada através da Ascom demanda do Cedes para criação, no site do Elmo, de uma seção com a equipe do treinamento de habilidades do capacete Elmo.

## **Escopo**

- [ ] Conferir textos e fotos
- [ ] Criar página da equipe de treinamento do Elmo
- [ ] Verificar experiência mobile

## **Prazo**
Se

[2021-09-14 18:06] danielgula opened #70 "Inserir dados do ElmoLAB na linha do tempo do Elmo"
## **Objetivo**

**Como** usuário
**Quero** acessar o site do Elmo
**Para** ver dados sobre o protótipo do Elmo

## **Contexto**

A Ascom gostaria de solicitar uma atualização no site elmo com os protótipos do elmo. A ideia é que coloquemos essas informações dentro da linha do tempo e que esse link vire um QR Code que será colocado no ElmoLAB, o laboratório que está sendo montado aqui na ESP.
## *

[2021-09-14 18:33] danielgula opened #71 "Atualização dos produtos e serviços para a home do sus.ce"
## **Objetivo**

**Como** usuário
**Quero** acessar a home do sus.ce.gov.br
**Para** ver os produtos e serviços em educação permanente da ESP

## **Contexto**

A home sus.ce.gov.br está ainda como site em desenvolvimento. É necessário mudar o texto e colocar os produto e serviços atuais da ESP.

## **Escopo**

- [x] modificar página para o formato Divi
- [x] levantar produtos e serviços
- [x] soli

[2021-09-15 16:57] uira opened #73 "#DesignSprint para Criação de proposta para Reestruturação do Portal da ESP"
https://trello.com/c/nfBV2LBZ

[2021-09-17 16:43] RaniGub commented on #77
@danielgula transferir para a Board da CISUS

[2021-09-17 16:47] danielgula commented on #77
@RaniGub Issue transferida

[2021-09-17 16:47] Clarisse1983 opened #78 "Criar linha tempo das capacitações do Elmo"
Criar uma linha do tempo de acontecimentos do Elmo - imagens da capacitação, relato sociogeográfico da disseminação do Elmo pelo país, depoimentos de pessoas que fizeram o curso.

[2021-09-17 16:48] danielgula commented on #78
@RaniGub issue transferida

[2021-09-17 16:50] RaniGub commented on #79
@danielgula transferir para Board da CISUS

[2021-09-17 16:51] rodrigoplimafreire opened #79 "Criar uma nova interface do PPA 2020-2023"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2021-09-17 16:52] danielgula commented on #79
@RaniGub issue transferida.

[2021-09-17 16:55] RaniGub commented on #80
@danielgula transferir para a Board do CISUS

[2021-09-17 16:56] danielgula opened #80 "Levantamento das informações e definição da tipologia dos produtos:"
iSUS - app
Site Coronavirus - https://coronavirus.ceara.gov.br/
Esp virtual - http://espvirtual.esp.ce.gov.br/
Site da ESP - https://www.esp.ce.gov.br/

[2021-09-17 16:57] danielgula commented on #80
@RaniGub issue transferida.

[2021-09-17 16:57] RaniGub commented on #81
@danielgula transferir para a Board do CISUS

[2021-09-17 16:58] RaniGub commented on #82
@danielgula transferir para a Board do CISUS

[2021-09-17 17:03] RaniGub commented on #83
@danielgula transferir para a Board do CISUS

[2021-09-17 18:31] rodrigoplimafreire opened #81 "Criar Nova "Interface" para Mapa Estratégico"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ] Consultar: https://github.com/EscolaDeSaudePublica/DesignLab/issues/1

# Observações

- Link: https://prezi.com/view/5IDYo9te42mDRsPSEZMz/

[2021-09-17 18:32] danielgula commented on #81
@RaniGub issue transferida

[2021-09-17 18:32] rodrigoplimafreire opened #82 "Reestruturação do Portal da ESP Virtual"
# Objetivo
**Eu como**
**Quero**
**Para que**

# Contexto

# Definições

- [ ]

# Observações

-

[2021-09-17 18:32] danielgula commented on #82
@RaniGub issue transferida

[2021-09-17 18:33] danielgula opened #83 "Guidelines da arquitetura da saúde - documentação"
Manual de orientação para a criação de conteúdos
- Criar doc
- Definir as 3 dimensões
- Criar personas
- idSaude
- Modelagem da informação (integração dos produtos)
- Guideline iSUS / app
- Guideline web

[2021-09-17 18:33] danielgula commented on #83
@RaniGub issue transferida

[2021-09-27 21:36] RaniGub opened #84 "Mudanças para visualização do artefato da Oficina DSP no site do Felicilab"
## **Objetivo**

**Como** designer
**Quero** realizar mudanças pontuais de visualização
**Para** otimizar a experiência da pessoa usuária

## **Contexto**

Em reunião com Uirá em 27/09/2021, foram sugeridas algumas definições de visualização para o artefato da Oficina de DSP no site do Felicilab.

## **Novo escopo**
- [x] Suprimir 'Project' das URLs do Felicilab
- [x] Ao entrar no site do Felicila

[2021-09-27 21:37] RaniGub commented on #84
@danielgula criei essa issue por demanda do Uirá. Já transferi para o Repo do Sus.ce

[2021-09-28 17:10] pauloamoreira commented on #84
@danielgula o @uirá também solicitou que todas as urls para onde apontam todos os links da revista devem apresentar a palavra SUS no endereço da url. além disso, solicitou que já fosse criada uma página para o pdf do artefato impresso, para gerar a url para onde o QrCode das capas apontará. quando o artefato estiver concluído, será disponibilizado nessa página.

[2021-09-28 18:26] danielgula commented on #72
Esse épico se encontra dentro do Zenhub, no board da Central de Informações do SUS e, portanto, será encerrado.

[2021-09-28 18:27] #72 closed, assigned to wforte88

[2021-09-28 19:31] danielgula opened #85 "EAP#525 Site Programa Cuidar Melhor"
## EAP

[Concurso Município Inovador - Programa Cuidar Melhor\Produção e customização do site](https://projetos.esp.ce.gov.br/issues/525)

Escopo

- [x] Criar arquitetura
- [x] Alterar pdfs para páginas
- [x] transferir página o Programa
- [x] transferir indicadores
- [x] Criar página do prêmio

[2021-09-28 19:40] danielgula opened #86 "Criar template da página do prêmio"
## **Objetivo**

**Como** usuário
**Quero** acessar o site do Cuidar Melhor
**Para** ver as informações do prêmio município inovador

## **Contexto**

Devemos publicar informações sobre o prêmio, como as fases, os critérios e os arquivos para participar.

## **Escopo**

- [x] criar página
- [x] criar conteúdo

## **Critérios de Aceitação**

**Dado que** estou na página cuidar melhor
**Quando** ace

[2021-10-05 14:37] danielgula opened #87 "Arquitetura visual da Saúde - MIRO"
Fazer um diagrama visual com as integrações de dados para o Ecossistema das soluções:
- [x] hotsite Coronavirus
- [x] iSUS
- [x] Mapa da Saúde
- [x] id Saúde
- [ ] Revisar com responsável iSUS
- [ ] Revisar com responsável Mapa
- [ ] Revisar com responsável Id Saúde
- [ ] Revisar com responsável Corona
- [ ] Fazer mudanças
- [ ] Documentar guias para acesso

https://miro.com/app/board/o9J_kvCsABY=

[2021-10-05 16:21] Clarisse1983 opened #88 "Atualizar Termos de Uso do iSUS no app"
## **Objetivo**
**Como** usuária do iSUS
**Quero** acessar o Termo de Uso atualizado
**Para** conhecer o documento e concordar (ou não) com a política exercida

## **Contexto**
O Termo de Uso do iSUS foi revisado por nosso consultor Danilo Doneda e agora precisamos realizar a substituição do Termo atualmente disponível pelo novo. Lembramos que é compromisso do próprio Termo informar à usuária quan

[2021-10-05 18:59] #52 closed, assigned to wforte88, RaniGub

[2021-10-13 13:04] raiannyqz opened #89 "Site da Residência - Arquitetura da Informação"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

- Os residentes precisam de um site para melhorar o relacionamento com o programa da Residência Multiprofissional e este, por sua vez, requer uma melhor visibilidade do seu conteúdo inform

[2021-10-13 13:35] raiannyqz commented on #89
Criar registro do site no domínio: https://sus.ce.gov.br/residenciamedicaesp > @danielgula

[2021-10-13 14:14] RaniGub commented on #89
@raiannyqz uma dica, além da Jornada dos Residentes, seria interessante criar a Jornada da pessoa que quer ingressar na Residência.

[2021-10-13 14:49] raiannyqz opened #90 "MVP 1 - Site da Residência"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

Os residentes precisam de um site para melhorar o relacionamento com os programas de Residência e este, por sua vez, requer uma melhor visibilidade do seu conteúdo informativo. Os possívei

[2021-10-13 18:03] raiannyqz commented on #89
Obrigada pela observação, este está como objetivo secundário, no caso, posso acrescentá-lo logo.

[2021-10-13 18:40] RaniGub commented on #89
Teste de vínculo com Telegram.

[2021-10-14 13:37] raiannyqz commented on #89
Entrei em contato com Diego por email para obter algumas informações pontuais de alguns dos termos por eles usados. Ele ficou dá resposta hoje.

[2021-10-14 15:54] #86 closed, assigned to danielgula

[2021-10-14 15:57] #68 closed, assigned to danielgula

[2021-10-14 15:57] #67 closed, assigned to danielgula

[2021-10-14 19:13] danielgula opened #91 "Criar AI do site Cuidar Melhor"
## **Objetivo**

**Como** designer
**Quero** construir a AI do site Cuidar Melhor
**Para** entender como montar o site

## **Contexto**

- Mesmo com um protótipo de alta fidelidade e conteúdos publicados, a partir de um estudo de usabilidade do site atual, se faz necessário construir a AI do site Cuidar Melhor, planejando suas versões.

## **Escopo**

- [x] levantamento das necessidades
- [x] anál

[2021-10-14 19:13] danielgula commented on #91
Foi feito o projeto de IA e pareado com @RaniGub conforme fluxo acordado na criação de sites.

[2021-10-14 19:26] danielgula commented on #91
Segue link do Figma com o projeto de AI:

https://www.figma.com/file/KskimuN4QJv9bRfLhTCxvI/Arquitetura-da-Informação?node-id=0%3A1

[2021-10-15 12:00] danielgula opened #92 "Apresentar Hotsite Cuidar Melhor para aprovação"
## **Objetivo**

**Como** colaborador SESA
**Quero** acessar o site Cuidar MElhor
**Para** inserir conteúdos

## **Contexto**

- Em acordo com SESA e ESP, usuários farão a inserção dos conteúdos no site

## **Escopo**

- [x] criar usuários para o site Cuidar Melhor
- [x] fazer treinamento do Wordpress

## **Fora de Escopo**

Treinamento no Divi

## **Critérios de Aceitação**

**Dado que** sou edit

[2021-10-15 12:01] danielgula opened #93 "Cadastro de usuários para edição no site"
## **Objetivo**

**Como** colaborador SESA
**Quero** acessar o site Cuidar MElhor
**Para** inserir conteúdos

## **Contexto**

- Em acordo com SESA e ESP, usuários farão a inserção dos conteúdos no site

## **Escopo**

- [x] criar usuários para o site Cuidar Melhor
- [ ] fazer treinamento do Wordpress

## **Fora de Escopo**

Treinamento no Divi

## **Critérios de Aceitação**

**Dado que** sou edit

[2021-10-15 12:44] raiannyqz commented on #89
Aguardo os comentários e sugestões de @RaniGub, @uira e @danielgula  sobre a Home do Site.

[2021-10-15 18:03] danielgula opened #94 "Site Felicilab 2.0"
## **Objetivo**

**Como** usuário
**Quero** acessar o novo site do Felicilab
**Para** ver pessoas, projetos e serviços

## **Contexto**

- O site do Felicilab teve um estudo elaborado pelo @wforte88 que envolve uma arquitetura baseada em projetos, categorias de projetos e templates exclusivos para dar dinâmica aos conteúdos do site, apresentando o time, projetos, produtos, metodologias e resultado

[2021-10-15 18:07] raiannyqz commented on #89
Organizando o menu, linkando com as paginas
Paginas funcionando: Home e Novos Cursos

https://www.figma.com/proto/VuN7wHJhnW2taJwdgRrhGg/Arquitetura?node-id=38%3A295&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=38%3A295

[2021-10-15 18:10] danielgula opened #95 "Criar landing page da Oficina de Design para o site Felicilab"
## **Objetivo**

**Como** usuário
**Quero** ver o conteúdo extra do artefato impresso da oficina
**Para** acessar informações relevantes que não estão no doc impresso

## **Contexto**

A oficina de design de serviços públicos gerou um documento impresso cujo pdf aponta para vários conteúdos extras. É preciso criar uma landing page do produto para os leitores baixarem o pdf e acessar o conteúdo ext

[2021-10-15 18:12] raiannyqz commented on #89
Alterei o nome do arquivo , novo link
https://www.figma.com/file/VuN7wHJhnW2taJwdgRrhGg/Design-Arquitetura?node-id=0%3A1

[2021-10-15 18:18] danielgula commented on #93
Foi feito o cadastro do usuário, mas não houve tempo para o treinamento, que será realizado na próxima semana.

[2021-10-15 18:18] #93 closed, assigned to danielgula

[2021-10-15 18:39] raiannyqz commented on #89
Devo agendar reunião com a equipe da residência, diante do material que temos? @uira @RaniGub

[2021-10-15 19:17] RaniGub commented on #89
Considerando que serão os norteadores de navegação da página, com certeza.

[2021-10-18 11:58] raiannyqz commented on #89
@RaniGub @uira ótimo, Diego ficou de marcar a reunião e de dá resposta hoje! Portanto, acrescentei a lista: Reunião com DIPSA para aprovação da AI

[2021-10-18 12:00] raiannyqz commented on #89
A Elaboração da primeira proposta de arquitetura está sendo desenvolvida no link:
https://www.figma.com/file/fLpsySTOeWNzOiB2Bx97yD/Design-Arquitetura

[2021-10-18 12:04] raiannyqz commented on #89
@RaniGub @uira @danielgula com a https://www.figma.com/file/fLpsySTOeWNzOiB2Bx97yD/Design-Arquitetura?node-id=0%3A1
Posso partir para a próxima issue que será o Protótipo Funcional, e eu continuo no próprio Figma? Criando as outras páginas é isto?

[2021-10-18 13:08] RaniGub commented on #89
Olá @raiannyqz bom dia, siga o roteiro que lhe passei.

[2021-10-19 13:03] raiannyqz commented on #89
Bom dia, Diego está marcando a reunião para amanhã as 10:00hs @uira @RaniGub @RaniGub @danielgula , vocês irão participar, se sim posso confirmar?

![photo_2021-10-19_09-58-13](https://user-images.githubusercontent.com/28989404/137914390-965beeff-0486-419c-a158-702989cdc9e4.jpg)

[2021-10-19 13:22] raiannyqz opened #96 "Site da Residência - Protótipo"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

- Os residentes precisam de um site para melhorar o relacionamento com o programa da Residência Multiprofissional e este, por sua vez, requer uma melhor visibilidade do seu conteúdo inform

[2021-10-19 13:32] raiannyqz opened #97 "Site da Residência - Esboço do site"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

- Os residentes precisam de um site para melhorar o relacionamento com o programa da Residência Multiprofissional e este, por sua vez, requer uma melhor visibilidade do seu conteúdo inform

[2021-10-19 13:44] raiannyqz commented on #97
@danielgula como posso utilizar um ambiente de homologação para publicar e desenvolver a demanda no Wordpress?

[2021-10-19 15:16] RaniGub commented on #89
Olá Raianny, não poderei participar.

Em ter., 19 de out. de 2021 10:03, Raianny Queiroz ***@***.***>
escreveu:

[2021-10-21 20:15] danielgula opened #98 "Disponibilizar conteúdos do resumo e FAQ no site"
A definir com Radene um prazo e que conteúdos devem ser publicados.

[2021-10-21 20:18] danielgula opened #99 "Disponibilizar inscrição de iniciativas para testes"
Tão logo o mapas disponibilize esse link

[2021-10-21 20:21] danielgula opened #100 "Disponibilizar inscrição de avaliadores"
## **Objetivo**

**Como** possível avaliador
**Quero** acessar o site Cuidar Melhor
**Para** me inscrever como avaliador do Prêmio Município Inovador

## **Contexto**

Para a próxima etapa do edital, será feita a chamada de avaliadores, que precisa estar online no site.

## **Escopo**

- [x] disponibilizar link de testes
- [x] coletar feedbacks
- [x] publicar versão final
- [x] Criar jornada do av

[2021-10-21 20:24] danielgula opened #101 "Revisão de conteúdos do site para lançamento"
## **Objetivo**

**Como** gestor de saúde
**Quero** conhecer o prêmio município inovador
**Para** fazer o termo de adesão da premiação

## **Contexto**

A primeira versão do site Cuidar Melhor vai priorizar, pela questão de agenda política do programa, o termo de adesão dos municípios e, portanto, deve sofrer ajustes no conteúdo, sendo que outros estarão desabilitados no momento.

## **Escopo**

-

[2021-10-21 20:32] danielgula opened #102 "Solicitar redirecionamento do link do site para domínio da SESA"
sus.ce.gov.br <-- saude.ce.gov.br

[2021-10-21 20:45] danielgula opened #103 "Criar MVP2 Do site Cuidar Melhor"
Tranformar pdfs em experiências WEB e MOBILE
- [ ] Slides de apresnetação do programa
- [ ] Agenda Estratégica
- [ ] Outras

[2021-10-22 19:07] danielgula opened #104 "Criar acompanhamento dos municípios aderentes à premiação do Município Inovador"
## **Objetivo**

**Como** profissional de saúde
**Quero** ver os municípios aderentes ao prêmio
**Para** fazer minha inscrição

## **Contexto**

Como as inscrições das práticas do prêmio município inovador serão concomitantes com a adesão dos municípios, se faz necessária a criação de uma seção no site para visualização desses dados pelo profissional que vai participar do prêmio.

## **Escopo**

-

[2021-10-22 19:08] danielgula opened #105 "Criar acompanhamento dos municípios aderentes à premiação do Município Inovador"
## **Objetivo**

**Como** profissional de saúde
**Quero** ver os municípios aderentes ao prêmio
**Para** fazer minha inscrição

## **Contexto**

Como as inscrições das práticas do prêmio município inovador serão concomitantes com a adesão dos municípios, se faz necessária a criação de uma seção no site para visualização desses dados pelo profissional que vai participar do prêmio.

## **Escopo**

-

[2021-10-25 19:05] saracafe opened #107 "Revisar perfis das pessoas DIT/FeliciLab para site"
## **Objetivo**

**Como** pessoa comunicadora da inovação
**Quero** publicar o perfil da pessoas
**Para** ter um espaço para colaboradores no site

## **Contexto**

Pessoas já saíram e novos colaboradores já entraram nos times dos projetos/produtos. É preciso revisar e atualizar o documento de perfil das novas pessoas integrantes para ser colocado no site.

## **PubliciLab**

- [x] Deslocar pessoa

[2021-10-26 13:39] danielgula opened #106 "Criar páginas de produtos no site do Felicilab"
## **Objetivo**

**Como** internauta
**Quero** conhecer os produtos do Felicilab
**Para** ver a inovação aberta em saúde da ESP

## **Contexto**

Para a nova versão do site, colocaremos os principais produtos que temos, principalmente por causa do prêmio ENAP.

## **Escopo**

- [x] Criar página do iSUS.
- [x] Criar página do Mapas.
- [x] Criar página do RPES.
- [x] Criar página da IdSaúde.
- [x] C

[2021-10-26 13:46] danielgula commented on #106
@Clarisse1983 @uira  teria como validar com o tático que produtos entrariam para essa versão de lançamento? Na descrição da issue tem algumas sugestões.

[2021-10-26 16:44] raiannyqz opened #108 "Refinamento - Site Residência"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

- Os residentes precisam de um site para melhorar o relacionamento com o programa da Residência Multiprofissional e este, por sua vez, requer uma melhor visibilidade do seu conteúdo inform

[2021-10-26 16:46] uira commented on #106
@danielgula iSUS
Mapas
IDSaúde
QualiQuiz
Sagu
RPES

[2021-10-26 16:59] raiannyqz commented on #108
Pontos textuais para a elaboração das páginas do site, estes pontos foram repassados para a DIPSA, eles são essenciais para elaborar os dados textuais a serem inseridos nas páginas.
<img width="433" alt="02" src="https://user-images.githubusercontent.com/28989404/138926157-e67879e7-be71-4919-a3e0-de482c884214.png">

[2021-10-26 17:06] danielgula opened #109 "Criar arquitetura do site Felicilab 2.0"
## **Objetivo**

**Como** designer
**Quero** montar a AI do site do Felicilab
**Para** construir a melhore experiência do usuário

## **Contexto**

Com as entregas da estrutura de dados pelo @wforte88 e os conteúdos atualmente publicados pelo Publicilab, faz-se necessário um estudo da AI do site do Felicilab para sua primeira entrega, trabalhando com produtos e pessoas, já desenhando pontes para f

[2021-10-26 17:21] #84 closed, assigned to danielgula

[2021-10-26 17:35] danielgula commented on #109
@RaniGub quando você tem um tempo pra gente revisar a AI do site do Felicilab? 30 minutos são suficientes.

[2021-10-26 17:47] RaniGub commented on #109
Vou criar um card da revisão, marquei o pareamento para amanhã (27/10) 15h.

[2021-10-26 17:55] raiannyqz commented on #108
Elaboração de questionário e/ou atividade com residentes e possíveis residentes:
https://www.figma.com/file/e4wZgbXP3Tpo4hqn2SPOEO/Elabora%C3%A7%C3%A3o-de-question%C3%A1rio-e%2Fou-atividade-com-poss%C3%ADveis-residentes?node-id=0%3A1

[2021-10-27 15:10] RaniGub commented on #109
Foi adicionada a dependência na issue do DesignLab #156 para que a Arquitetura possa ser reavaliada.

[2021-10-27 19:11] raiannyqz commented on #108
Ontem conversei com uma possível residente sobre pontos que para elapossa ser importantes na cosntrução do site, foi um momento super esclarecedor, para isso fiz uma dinamica quw conta no link: https://www.figma.com/file/e4wZgbXP3Tpo4hqn2SPOEO/Elabora%C3%A7%C3%A3o-de-question%C3%A1rio-e%2Fou-atividade-com-poss%C3%ADveis-residentes?node-id=0%3A1
Esta mesma dinâmica será aplicada amanhã com um resid

[2021-10-27 19:15] raiannyqz commented on #108
@RaniGub  como próximo passo precisarei de alguns dados e textos para compor as paginas, pontuei alguns deles para enviar para a Dipsa e outros precisarei entender melhor como proceder. Uma delas é com relação ao editais, provas e gabaritos (consta no site do ares https://www.resmedceara.ufc.br/ares/processo-seletivo
Eles querem colocar o que tá no site do ares numa pagina da residencia, no caso o

[2021-10-27 19:19] RaniGub commented on #108
Oi Raianny, marquei na agenda um momento com vc amanhã. Se der tempo a gente refina e vejo se consigo lhe ajudar.

[2021-10-27 19:25] saracafe commented on #106
Atualizando: https://docs.google.com/document/d/1IGCe-kQh5ZpBSmG_licV1UHkyv0HbsWnd0r_KkWnjno/edit?usp=sharing

[2021-10-27 19:35] saracafe commented on #107
Atualizando os perfis e falando com os novatos: https://docs.google.com/document/d/1TOuIFa7Ds1cOlgOmvkFQIIt2Jgnl2m2abn1VJUil1F4/edit?usp=sharing

[2021-10-28 12:53] ClarisCaval commented on #106
Para usar como base:
- RPES:
https://docs.google.com/document/d/1C-pcFOC-BQJK0rWhbf1C6OXzzktbACSyew9-grBjVvE/edit
- Qualiquiz:
https://docs.google.com/presentation/d/1QJI8a35IYsHdDMyns4TjWSRiVFSQOCjVKImxTNWHAZg/edit#slide=id.gaeff06fe0a_0_42

[2021-11-03 11:43] raiannyqz commented on #108
Olá aguardo contato com o residente para entrevistá-lo, Diego que está intermediando.
Aguardo conteúdo que pedi pra DIPSA para inserir nas páginas.

[2021-11-03 19:14] danielgula commented on #109
Acordado com o Designlab uma versão emergencial para o Prêmio ENAP. A partir daí será feita inception para o novo site.

[2021-11-05 12:12] raiannyqz commented on #108
@RaniGub  e @uira Bom dia: algumas das atividades eu não pude finalizar, pois eu precisava que a DIPSA me enviasse alguns pontos textuais que pedi para o conteúdo do site, contudo não foi possível.
Também não foi possivel marcar com o residente, tendo isso em vista pensei em outra metodologia para obter estes dados: formulário Docs e enviar para a Dipsa e também para o residente, para que ele poss

[2021-11-05 12:32] raiannyqz commented on #107
Os Perfis foram criados no wordpress de acordo com o que eles responderam pelo GoogleForms e que @saracafe editou.
Os perfis foram: Lucas Tandy, Aislan Freitas, Pedro Victor, Bruna Queiroz, Paulo Rafael, Janete Amaral, Thais Toscano, Daiane Abreu, Talita Macedo, Raianny Queiroz, Washington Forte, Wanderley Lima, Victor Magalhães, Uirá Porã, Susi, Sara Café, Samara de Almeida Mesquita, Rodrigo Silv

[2021-11-05 13:03] RaniGub commented on #108
Bom dia @raiannyqz, não acho que o formulário seja o caminho mais adequado, pois podem aparecer sombreamentos que só serão observados após as respostas. Fora que os produtos devem seguir um cronograma de entrega, as informações são importantes ao ponto de bloquear o Site? Se não forem, sugiro que continue o desenvolvimento e reforce o papo com eles em outro momento. Falei com o @pauloamoreira agor

[2021-11-05 13:10] raiannyqz commented on #107
@danielgula Daniel o perfil do Aislan Freitas continua dando erro, aparecendo só a foto, teria como olhar o que tá acontecendo? Porque eu já apaguei e criei de novo esse perfil e o problema persiste!
https://sus.ce.gov.br/felicilab/?page_id=1674&preview=true

[2021-11-05 13:26] raiannyqz commented on #108
@RaniGub Pois é, o bom mesmo é falar diretamente. Pois tá certo vou ver com Paulo sobre isso. Agradeço!

[2021-11-05 13:32] danielgula commented on #102
Em 28 de outubro foi enviado para o email gcoticatend@saude.ce.gov.br e para os responsáveis solicitação de atendimento dessa demanda.
Em 04 de novembro, foi enviado para Radene enviar email para que a SEPOS solicite a criação do subdomínio programas.saude.ce.gov.br, para que possa ser redirecionado o conteúdo atual do site Cuidar Melhor, apontando para a página nova do Programa, hospedada na ESP.

[2021-11-05 16:42] raiannyqz opened #110 "Conteúdo MVP 1 | Site Residência"
## **Objetivo**

**Como** Residentes e possíveis ingressantes a residentes
**Quero** precisam obter informações, ter interação e comunicação
**Para** se relacionar com o programa da residência.

## **Contexto**

- Os residentes precisam de um site para melhorar o relacionamento com o programa da Residência Multiprofissional e este, por sua vez, requer uma melhor visibilidade do seu conteúdo inform

[2021-11-05 16:44] raiannyqz commented on #108
Retirei algumas tarefas que dependem da resposta de outras pessoas para que eu possa finalizar esta issue de acordo com as tarefas que foram cumpridas, que não estavam na dependência de outras pessoas.

[2021-11-05 16:46] raiannyqz commented on #108
Sobre a reunião com o residente, estou vendo com outro, aguardo a sua disponibilidade de dia e horário.

[2021-11-05 16:47] raiannyqz commented on #108
Link da AI: https://www.figma.com/file/sBF9hDgBsIM5IXJHQwrUOS/Arquitetura-da-Informa%C3%A7%C3%A3o?node-id=121%3A442
Link do site da residência: https://sus.ce.gov.br/residenciasespce/

[2021-11-05 16:56] danielgula commented on #102
Foi enviado hoje email para os responsáveis ténicos a solicitação da criação do subdomínio programas.saude.ce.gov.br, para que possa ser redirecionado o conteúdo atual do site Cuidar Melhor, apontando para a página nova do Programa, hospedada na ESP (sus.ce.gov.br).

[2021-11-05 18:28] pauloamoreira commented on #108
.em reunião com @raiannyqz , acordamos que ela irá viabilizar a produção de alguns materiais estruturantes necessários para fazer uma nova proposição de AI do site, entre os quais: inception, mapeamento de conteúdos (quais anseios serão respondidos pelo site) e a jornada as pessoas usuárias através destes conteúdos. quando essa nova proposição de AI estiver pronta, podemos voltar a parear.

[2021-11-05 18:59] raiannyqz commented on #108
Ótimo!!!! Muito obrigada!!

[2021-11-08 12:42] ClarisCaval commented on #107
@danielgula fará uma revisão de uma única inconsistência hoje ;)

[2021-11-08 17:04] danielgula commented on #107
Revisão feita e bug corrigido. Pode fechar esse card.

[2021-11-08 17:31] raiannyqz opened #111 "Criar perfis das pessoas DIT/FeliciLab para site"
## **Objetivo**

**Como** pessoa do design e da inovação
**Quero** criar e publicar o perfil das pessoas
**Para** ter um espaço para colaboradores no site

## **Contexto**

- Diante da entrada e saída de colaboradores é preciso revisar quem está no time e atualizar o perfil dos integrantes para ser criado os perfis no site, associando projetos aos produtos. Para isso, foi realizado um formulário,

[2021-11-08 17:32] raiannyqz commented on #107
Com a finalidade de organização de tarefas o card foi criado: Criar perfis das pessoas DIT/FeliciLab para site
https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/issues/111

[2021-11-08 17:33] raiannyqz commented on #111
@danielgula se tiver algo que possa ser acrescentado nesta issue, por favor comentar.

[2021-11-08 18:03] raiannyqz opened #112 "Site da Residência - Inception"
## **Objetivo**

**Como** pessoa do design e da inovação
**Quero** alinhar as ideias e dados coletados sobre o produto mínimo viável
**Para** ser construído.

## **Contexto**

- Foi criado a Ai e o design do site da residencia da ESP com objetivo inicial de atender aos residente e possíveis residentes e percebemos a necessidade de retroceder algumas etapas para validar esta Ai através da inception

[2021-11-08 18:06] danielgula opened #113 "Rever visões dos sites no Analytics"
## **Objetivo**

**Como** gestor de sites
**Quero** acessar o Analytics
**Para** ver os dados dos acessos dos produtos do sus.ce

## **Contexto**

Atualmente estamos usando o Google Analytics como plataforma de análise de dados dos subsites do sus.ce.gov.br. Dessa forma, conseguimos criar visões para esses subsites, dando uma visão segmentada de acessos a esses produtos. Todavia, a configuração de

[2021-11-08 19:27] raiannyqz opened #114 "Site da Residência - Jornada"
## **Objetivo**

**Como** pessoa do design e da inovação
**Quero** alinhar as ideias e dados coletados sobre o produto mínimo viável
**Para** ser construído.

## **Contexto**

- Foi criado a Ai e o design do site da residencia da ESP com objetivo inicial de atender aos residente e possíveis residentes e percebemos a necessidade de retroceder algumas etapas para validar esta Ai através da inception

[2021-11-09 00:14] RaniGub commented on #112
Olá @pauloamoreira , você participou desse momento?

[2021-11-09 00:20] RaniGub commented on #114
Olá @raiannyqz deixei a tarefa tramitando pelo workspace da Central também ok? Vou deixar essa no DesignLab para que o @pauloamoreira possa controlar a coparticipação.

[2021-11-09 02:58] danielgula commented on #106
Foi criada a página de soluções e todas as páginas filhas com textos e links. A página de soluções está acessível mas faltam conteúdos. Segue link:

https://sus.ce.gov.br/felicilab/solucoes/

[2021-11-09 03:05] danielgula opened #115 "Criar página de Contato"
## **Objetivo**

**Como** internauta
**Quero** entrar na página da contato
**Para** conhecer o Felicilab

## **Contexto**

Deverá ser criada a página de contato, que não existe ainda no site.

## **Escopo**

- [x] Criar página
- [x] Fazer Layout
- [x] Inserir módulo de formulário
- [x] form vai para nit@esp.ce.gov.br

## **Critérios de Aceitação**

**Dado que** estou no site Felicilab
**Quando** p

[2021-11-09 03:11] danielgula opened #116 "Conectar pessoas às suas respectivas soluções"
## **Objetivo**

**Como** usuário
**Quero** acessar as soluções do Felicilab
**Para** ver as pessoas envolvidas

## **Contexto**

É preciso fazer a referência das pessoas do time publicadas no site com suas respectivas soluções

## **Escopo**

- [x] Pessoas do iSUS
- [x] Pessoas do Mapa da Saúde
- [x] Pessoas do idSaúde
- [x] Pessoas do QualiQuiz
- [x] Pessoas do RPES
- [x] Pessoas do Sagu

## **C

[2021-11-09 12:20] raiannyqz commented on #114
Ahh tá ótimo, coloquei o @pauloamoreira na assinatura do inception também!

[2021-11-09 14:36] danielgula commented on #116
Segue arquivo de referência:
https://docs.google.com/document/d/1IGCe-kQh5ZpBSmG_licV1UHkyv0HbsWnd0r_KkWnjno/edit#heading=h.qp7aimt2x7aq

[2021-11-09 15:25] danielgula commented on #116
Referências feitas. É preciso uma revisão de um colega para conferir quem está em cada solução a partir do doc acima.

[2021-11-09 15:27] danielgula commented on #106
Foi feito um ajuste em todos os templastes para ficar parecido com o layout das páginas e do background, para que a experiência de navegação integre melhor a estética do site original.

[2021-11-09 15:34] danielgula opened #117 "Criar páginas dos labs (times) do Felicilab"
## **Objetivo**

**Como** internauta
**Quero** acessar o site do Felicilab
**Para** ver os times do Felicilab

## **Contexto**

A estrutura organizacional do Felicilab se divide em times, deniminados labs, que precisam ser apresentados na página adequadamente.

## **Escopo**

- [x] Criar template designlab
- [x] Criar template publicilab
- [x] Criar template datalab
- [x] Criar template devlab

##

[2021-11-09 20:54] danielgula commented on #117
Páginas criadas em:
https://sus.ce.gov.br/felicilab/devlab/
https://sus.ce.gov.br/felicilab/datalab/
https://sus.ce.gov.br/felicilab/designlab/
https://sus.ce.gov.br/felicilab/publicilab/

[2021-11-09 20:58] danielgula opened #118 "Criar página Quem Somos"
## **Objetivo**

**Como** internauta
**Quero** acessar o site Felicilab
**Para** ver as pessoas envolvidas

## **Contexto**

PAra poder visualizar todas as pessoas envolvidas no felicilab, será necessário criar uma página quem somos, insicando cada grupo, laboratório e assessoria.

## **Escopo**

- [x] Criar portfolios para cada time do felicilab
- [x] Criar chamadas para os labs do Felicilab

##

[2021-11-09 20:59] danielgula commented on #118
Página criada em:
https://sus.ce.gov.br/felicilab/quem-somos/

[2021-11-09 22:58] danielgula commented on #115
Página criada em:
https://sus.ce.gov.br/felicilab/contato/

[2021-11-10 13:28] raiannyqz commented on #110
Hoje entrei em contato com a Barbara, para saber como estava o andamento dos conteúdos e ela me passou que ontem terminaram e que hoje me enviaria.

<img width="380" alt="Captura de tela 2021-11-10 102430" src="https://user-images.githubusercontent.com/28989404/141121399-41c2ea62-2ffd-4fd9-b5f9-d53b407a0493.png">

[2021-11-10 13:32] raiannyqz commented on #108
Sobre os conteúdos foi criado outro issue: https://github.com/escoladesaudepublica/sus.ce.gov.br/issues/110 Para concentrar e relatar melhor as atividades relacionadas a esta atividade, dividindo as tarefas.

[2021-11-10 13:39] raiannyqz commented on #110
Conteúdo para o site enviado pela DIPSA que foi requerido.
[Demanda Residencia.docx](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/7513105/Demanda.Residencia.docx)

[2021-11-10 13:47] raiannyqz commented on #110
@RaniGub Ti perguntar... a Dipsa enviou uns textos, mas acredito que precisa de correção ortográfica e/ou até mesmo melhorar a linguagem, essa demanda eu posso repassar pra Sara? Ou antes disso vocês vão ver o conteúdo?

[2021-11-10 13:59] raiannyqz commented on #108
Sobre o 2 º  residente eu tou em contato com duas pessoas, residentes da ESP, uma delas, na segunda-feira dia 8 de novembro, me disse que estaria ocupada esta semana, mas que veria com os colegas.
<img width="380" alt="Captura de tela 2021-11-10 102430" src="https://user-images.githubusercontent.com/28989404/141124952-ea6f7b4e-1702-4c2a-9d2e-f5de3621b9b6.png">
Hoje dia 10 de novembro 2021, voltei

[2021-11-10 14:06] raiannyqz commented on #108
Sobre o 2 º residente eu tou em contato com duas pessoas, residentes da ESP, uma delas, na segunda-feira dia 8 de novembro, me disse que estaria ocupada esta semana, mas que veria com os colegas.
<img width="568" alt="1" src="https://user-images.githubusercontent.com/28989404/141127421-5f8e132d-122e-4698-82bc-3ebd2ff3569c.png">

Hoje dia 10 de novembro 2021, voltei a comentar e aguardo o retorno:

[2021-11-11 12:59] ClarisCaval commented on #107
@saracafe vai realizar pequenas alterações indicadas no documento
https://docs.google.com/document/d/1TOuIFa7Ds1cOlgOmvkFQIIt2Jgnl2m2abn1VJUil1F4/edit#heading=h.cnqyatfslyvk

[2021-11-11 14:24] danielgula commented on #102
Com a criação da url [https://programas.saude.ce.gov.br/] foi apontado o IP para que a ESP possa ter gerência dos conteúdos.
Em reunião com @jacsonp e @fwandson configuramos o caminho [https://programas.saude.ce.gov.br/cuidarmelhor/] para receber a página do Programa para o evento. Em posterior momento faremos o trabalho de organização dos programas em pastas.
Estamos no aguardo do redirecionament

[2021-11-11 22:33] danielgula opened #119 "Ajustes de indexação e experiência mobile"
## **Objetivo**

**Como** usuário mobile
**Quero** acessar o site do Felicilab
**Para** ter uma experiência adequada

## **Contexto**

Com o site pronto e as páginas publicadas, resta fazer os ajustes para a melhor experiência mobile.

## **Escopo**

- [x] criar imagens destacadas para todas as páginas
- [x] verificar experiência mobile em todas as páginas criadas

## **Critérios de Aceitação**

*

[2021-11-12 00:46] danielgula commented on #119
As páginas foram testadas e estão adequadas para a experiência mobile e indexação.

[2021-11-12 00:56] #20 closed, assigned to danielgula, marameida

[2021-11-12 00:57] danielgula commented on #91
Primeira versão foi aprovada e se encontra no ar.

[2021-11-12 00:57] #91 closed, assigned to danielgula, RaniGub

[2021-11-12 00:58] danielgula commented on #109
Como esta versão da AI está no ar, essa demanda será fechada. Uma nova versão do site (2.5 ou 3.0) será pensada em novo movimento da equipe. Card será fechado.

[2021-11-12 00:58] #109 closed, assigned to danielgula

[2021-11-12 00:59] danielgula commented on #95
Página se encontra no ar e adaptada ao site atual. Issue será encerrada.

[2021-11-12 00:59] #95 closed, assigned to danielgula

[2021-11-12 00:59] danielgula commented on #99
Testes foram realizados e a versão final está no ar através do novo site. Issue encerrada.

[2021-11-12 00:59] #99 closed, assigned to danielgula

[2021-11-12 01:01] danielgula commented on #118
Foi feita uma adaptação, em acordo com @uira e @Clarisse1983 para a apresentação do prêmio ENAP. A estrutura final das pessoas continua funcionando mas está desabilitada, espelhando a estrutura atual do NIT. Novo estudo está previsto na nova versão do produto. Card encerrado

[2021-11-12 01:01] #118 closed, assigned to danielgula

[2021-11-12 01:01] #117 closed, assigned to danielgula

[2021-11-12 01:02] danielgula commented on #115
Feitas atualizações sugeridas pelo time Publicilab. Feitos testes de envio com o email usado no form. Issue encerrada.

[2021-11-12 01:02] #115 closed, assigned to danielgula

[2021-11-12 01:03] #116 closed, assigned to danielgula

[2021-11-12 01:03] #119 closed, assigned to danielgula

[2021-11-12 01:06] danielgula commented on #102
Atualizando a demanda: até a presente hora não foi feito o redirecionamento pelo setor responsável da SESA. Solicitamos uma senha de acesso para tentar realizar o redirecionamento pelo time Felicilab mas não recebemos retorno. A página continua mostrando o site antigo, com um botão em local pouco visível para a nova experiência do site. Colocamos no grupo que isso irá prejudicar a experiência do u

[2021-11-12 16:33] danielgula opened #120 "Treinar autores de conteúdos da SEPOS no site Cuidar Melhor"
## **Objetivo**

**Como** gestor do site
**Quero** fazer treinamento com autores
**Para** liberar as atualizações de conteúdo

## **Contexto**

O site Cuidar Melhor está no ar e com isso é necessário realizar treinamento para os autores que vão fazer a manutenção dos conteúdos.

## **Escopo**

- [x] criar usuários autores do site
- [x] Agendar treinamento
- [x] Realizar treinamento

## **Critérios

[2021-11-12 16:34] danielgula commented on #98
Essa melhoria vai para o planejamento do segundo épico do site.

[2021-11-16 12:19] RaniGub commented on #112
Bom dia gente, retirei a marcação do Paulo pois ele não participou do momento.

[2021-11-16 12:22] raiannyqz commented on #112
@RaniGub realizarei a inception hoje com a Barbara e o Diego ás 10:00 hs. A dr Olivia não poderá participar, por questões pessoais.

[2021-11-16 12:23] raiannyqz commented on #112
@danielgula você poderá participar da reunião com a Dipsa hoje as 10:00 hs?

[2021-11-16 13:46] danielgula commented on #101
Colocando esse card como Concluído, mas lembrando que precisamos ver a autorização das imagens. Se não puderem ser compradas, é preciso colocar a atribuição.

[2021-11-16 14:22] danielgula opened #121 "Atualização de conteúdo para o MVP1 do site Cuida Melhor"
## **Objetivo**

**Como** usuário
**Quero** acessar o site Cuidar Melhor
**Para** ver os conteúdos corrigidos

## **Contexto**

Segue a nova lista de revisões para o fechamento do MVP1 para encerrar o épico.

## **Escopo**

- [x] Inserir contato do CENIC na página do edital
- [x] Mudar link para O Concurso ao invés de Prêmio Município Inovador. A Premiação Cuidar Melhor tem uma modalidade relacion

[2021-11-16 18:39] raiannyqz commented on #112
Hoje foi realizado a inception com a Dipsa e participação de @pauloamoreira , ficou acordado de darmos continuidade na pr[oxima quinta-feira dia 18 às 10:00hs.

[2021-11-16 18:39] danielgula commented on #104
Demanda duplicado por inconsistência do Zenhub e será fechada para a issue 105

[2021-11-16 18:39] #104 closed, assigned to danielgula

[2021-11-16 18:43] danielgula commented on #98
Lembrando que existem conteúdos já publicados que foram aproveitados para o MVP1

[2021-11-16 19:21] RaniGub commented on #112
Olá @raiannyqz já criei um card para que o Paulo possa apoiar o processo pelo DesignLab # 166, vou retornar essa tarefa para o 'Tudão' em nosso workspace.

[2021-11-17 12:01] raiannyqz commented on #112
Ah tá certo, entendido! Obrigada!

[2021-11-17 12:24] danielgula commented on #106
Atualização feita para o produto RPES. O card pode ser fechado.

[2021-11-17 12:47] danielgula commented on #113
@jacsonp o @uira me pediu para que possamos realizar todas as configurações e instalações necessárias para que possamos deixar as vistas dos subsites do sus.ce adequadas. Vamos alinhar esse esforça para atender essa demanda? Tem prioridade pois já temos vários sites no ar e precisamos dos dados para montar as estratégias táticas do nosso lab.

[2021-11-17 13:19] danielgula commented on #102
Atualizando a demanda: será feito alinhamento com @fwandson no dia 24/11 para definir alguns ajustes na nossa infra, para que futuros programas possam ser rapidamente associados ao novo domínio.

[2021-11-17 18:03] #106 closed, assigned to danielgula, saracafe

[2021-11-18 15:13] #120 closed, assigned to danielgula

[2021-11-18 15:13] #98 closed, assigned to danielgula

[2021-11-18 15:15] danielgula commented on #107
Foi feito um ajuste de performance nos perfis, padronizando os fundos de tela e as imagens destacadas para se tornar mais dinâmica a atualização.
Como todos os perfis pretendidos foram publicados, acordamos um fluxo por email para a manutenção desses conteúdos, a partir do recebimento do email e organização feita pela @raiannyqz
Assim sendo, esse card está concluído.

[2021-11-18 15:15] #107 closed, assigned to raiannyqz, danielgula, saracafe

[2021-11-18 15:53] danielgula commented on #106
Foi feito um ajuste na experiência mobile de todos os produtos e seus templates.

[2021-11-18 16:07] danielgula opened #122 "Inserir e-mails institucionais nos perfis"
## **Objetivo**

**Como** internauta
**Quero** acessar os perfis dos felicilabers
**Para** ver os emails institucionais

## **Contexto**

A partir de solicitações externas, precisamos incluir os e-mails institucionais dos felicilabers, gerando mais vínculos com a ESP de forma profissional.

## **Escopo**

- [x] Levantar emails a partir do Zimbra e lista da DIT
- [x] Atualizar o documento dos perfi

[2021-11-18 18:31] raiannyqz commented on #122
Os emails foram inseridos no arquivo: https://docs.google.com/document/d/1TOuIFa7Ds1cOlgOmvkFQIIt2Jgnl2m2abn1VJUil1F4/edit#

[2021-11-19 15:02] danielgula commented on #122
Time colaborou com a demanda e ela se encontra atendida. Issue encerrada.

[2021-11-19 15:02] #122 closed, assigned to raiannyqz, danielgula, ClarisCaval, saracafe

[2021-11-19 18:09] danielgula opened #123 "Montar ambiente de homologação do sus.ce.gov.br"
## **Objetivo**

**Como** designer
**Quero** acessar o ambiente de homologação do sus.ce
**Para** prototipar projetos

## **Contexto**

Com o aumento significativo de sites da ESP e parceiros, é necessário habilitar um ambiente de homologação para que possamos prototipar projetos e aprovar modelos junto com toda a equipe.

## **Escopo**

- [x] Criar ambiente de homologação
- [x] Instalar versão es

[2021-11-19 18:14] danielgula commented on #85
Site foi publicado e está funcional. Fica pendente a manutenção do redirecionamento, que será resolvido depois de reunião com a infra dia 24/11

[2021-11-19 19:26] danielgula commented on #94
Com todas as atividades feitas para esta nova versão, este épico pode ser encerrado. Aguardaremos os próximos passos definindo  a inception para o desenho de uma nova versão.

[2021-11-19 19:26] #94 closed, assigned to danielgula

[2021-11-25 12:36] #121 closed, assigned to danielgula

[2021-11-25 12:39] danielgula commented on #49
Foi aberto chamado com a Infra sobre o ocorrido. O número de acompanhamento é o 20211124585143

[2021-11-25 12:40] RaniGub commented on #112
Bom dia @raiannyqz . Quando concluir a consolidação da Inception aproxime o @pauloamoreira para revisão da AI.

[2021-11-25 12:41] danielgula commented on #102
Em reunião com a equipe da Infra, ficou acordado com @fwandson e @jacsonp que @danielgula e @uira vão montar um desenho de projeto a ser implementado, avaliando o esforço e as soluções para que a estrutura dos sites dos programas seja definitiva.

[2021-11-25 12:42] danielgula commented on #113
Tão logo o ambiente de homologação esteja no ar, faremos testes para resolver a questão do Analytics, onde a infra fará um tutorial de configuração.

[2021-11-25 12:44] danielgula commented on #123
Foi criado chamado de número 20211124585142 para que o ambiente de homologação NEXT espelhe a produção SUS.CE. @fwandson e @jacsonp estão cientes da demanda.

[2021-11-25 17:18] raiannyqz commented on #112
Sim acredito que hoje eu termine essa parte, apartir de amanhã já posso marcar com @pauloamoreira , pode me dizer quando é possível pra ti @pauloamoreira ?

[2021-11-26 18:43] pauloamoreira commented on #112
@raiannyqz podemos parear na segunda, dia 29/11, as 14h, se você estiver disponível.

[2021-11-29 17:43] RaniGub commented on #112
@pauloamoreira participou da Inception e fará a consolidação em texto descritivo. Após isso, irá parear com @danielgula para discussão da AI e continuidade do processo de desenvolvimento.

[2021-12-01 12:23] danielgula commented on #71
Aguardando Ascom pelas imagens dos banners.

[2021-12-01 12:24] danielgula commented on #123
O servidor está online e os testes estão sendo executados.

[2021-12-01 12:26] danielgula commented on #113
MEsmo com a dependência dessa atividadecom o ambiente de homologação, já está liberado para fazer testes com o plugin do Analytics

[2021-12-01 12:40] fwandson commented on #123
Beleza!!!

Em qua., 1 de dez. de 2021 às 09:24, danielgula ***@***.***>
escreveu:

--
...
*Wandson Alves*
*"A mente que se abre a uma nova ideia jamais voltará ao seu tamanho
original."*

[2021-12-03 18:25] gabrieladamarques opened #124 "EAP#524 Concepção do produto - Site Cuidar Melhor"
## EAP

[Concurso Município Inovador - Programa Cuidar Melhor\Produção e Customização do site](https://projetos.esp.ce.gov.br/issues/524)

[2021-12-03 18:25] gabrieladamarques opened #125 "EAP#526 Hotsite do Concurso Município Inovador"
## EAP

[Concurso Município Inovador - Programa Cuidar Melhor\Produção e customização do site](https://projetos.esp.ce.gov.br/issues/526)

[2021-12-03 19:03] danielgula commented on #102
Em relação à demanda de lançamento e da parte relacionada às nossas atividades, essa demanda está concluída.

[2021-12-03 19:03] #102 closed, assigned to danielgula

[2021-12-03 19:04] danielgula commented on #123
Demanda atendida.

[2021-12-03 19:04] #123 closed, assigned to danielgula

[2021-12-03 19:05] danielgula commented on #101
Demanda será encerrada e mandaremos informativo à Ascom da Sesa sobre as imagens

[2021-12-03 19:05] #101 closed, assigned to danielgula

[2021-12-06 17:58] danielgula opened #126 "Certificado de Adesão Programa Cuidar Melhor"
## **Objetivo**

**Como** gestor de saúde
**Quero** receber o certificado de adesão
**Para** comprovar a inclusão do município no Programa Cuidar Melhor

## **Contexto**

As adesões dos municípios ao Programa Cuidar Melhor no Mapa da Saúde serão validadas e os gestores irão receber um certificado. Esse modelo deverá ser customizado e adaptado.

## **Escopo**

- [x] enviar modelo para responsáveis

[2021-12-08 12:29] danielgula opened #127 "Criar seção parcerias"
## **Objetivo**

**Como** usuário
**Quero** acessar o site Cuidar Melhor
**Para** ver os parceiros do programa

## **Contexto**

- Foi solicitada a criação de uma seção de parceiros no site, onde será criada uma página com imagens dos parceiros e links para seus sites.

## **Escopo**

- [ ] receber material da Ascom/Sesa
- [ ] criar página
- [ ] inserir item no menu
- [ ] verificar usabilidade
- [

[2021-12-08 12:52] danielgula opened #128 "Criar seção do Edital 26 no site Felicilab"
## **Objetivo**

**Como** futuro candidato
**Quero** acessar o site do felicilab
**Para** ver detalhes sobre o Edital 16

## **Contexto**

- Para ajudar os futuros candidatos do Edital 26 a entenderem e se inscreverem no edital, precisamos criar uma seção no site com informações instrucionais sobre o certame.

## **Escopo**

- [x] Criar página do edital (data e infográfico)
- [ ] Criar página orie

[2021-12-08 20:11] danielgula commented on #128
@Clarisse1983 a página do FAQ foi atualizada e aguarda aprovação.

[2021-12-09 18:03] danielgula commented on #111
Já podemos fechar essa demanda, que foi concluída.

[2021-12-09 18:03] #111 closed, assigned to danielgula, saracafe

[2021-12-09 18:17] danielgula opened #129 "Produzir apresentação das entregas do NIT/Felicilab em 2021"
## **Objetivo**

**Como** usuária
**Quero** acessar o site felicilab
**Para** ver as entregas do laboratório em 2020/2021

## **Contexto**

A partir do levantamento de entregas do laboratório levantadas pela equipe do Publicilab, alguns eventos importantes precisam entrar no site, como uma retrospectiva em linha do tempo. Serão criados posta específicos de cada entrega no site que, quando reunidos

[2021-12-14 12:35] ClarisCaval commented on #128
Aqui gente, avaliem, opinem:
https://sus.ce.gov.br/felicilab/edital-26-2021/

[2021-12-14 12:40] ClarisCaval commented on #128
@danielgula, alterar esse texto:

Se você tem dúvidas sobre o Edital 26/2021, entre em contato com a ESP através do e-mail edital262021@esp.ce.gov.br. Também criamos uma seção especial com as principais informações, que você acessa aqui: (e leva para o FAQ, porque esse modelo flutuante de menu é meio confuso, nem todo mundo vai encontrar).

[2021-12-14 18:23] danielgula commented on #129
Em conversa com @Clarisse1983 nós iremos usar o javascript da Knightlabs para a timeline, que já usada no site da ESP e no Elmo. Teremos uma seção na home chamada "Nossa História". Os dados serão colocados em uma planilha do Google, para o ano de 2021, a partir de um doc da @saracafe.

[2021-12-14 22:24] uira commented on #129
@danielgula eu tinha feito a sugestão de postagens com foto, pra rechear nosso site...

Não deu?

[2021-12-15 19:55] danielgula commented on #129
@uira a gente optou em construir a timeline com entradas fixas (nós conseguimos colocar os posts depois) dentro da planilha do plugin atual que usamos para timeline, que vai se chamar "Nossa História" e ficará na home do site. Teremos inicialmente as entregas de 2021, para a ReuniãoZona, conforme acordo com a @Clarisse1983. @saracafe e @raiannyqz estão montando as entregas, enquanto que eu montei

[2021-12-15 20:09] danielgula commented on #105
Entrarei em contato com @thaistoscano para ver como é possível integrar essas informações com o Mapa. Caso contrário, a equipe do programa quer uma mensagem informando que 100% dos municípios aderiram.

[2021-12-15 20:11] danielgula commented on #71
Em 15/12 entramos em contato com a Ascom a respeito dessas artes para colocar no site.

[2021-12-16 17:40] danielgula opened #130 "Criação de tema e plugin com timeline de posts"
## **Objetivo**

**Como** designer
**Quero** elaborar um tema com plugins para comportar timelines de posts
**Para** apresentar linhas do tempo para soluções de conteúdo

## **Contexto**

Usamos para vários contextos um plugin de timeline gratuito da Knightlabs, que mostra de forma manual conteúdos em datas de forma interativa. Precisamos desenvolver um modelo de tema para usar em nossas páginas q

[2021-12-20 17:30] #128 closed, assigned to danielgula, ClarisCaval, anapvcv

[2021-12-21 12:13] danielgula commented on #129
Seção criada na home do site Felicilab. Iremos fazer em breve atualização com novas entradas e provavelmente um melhor estudo de AI para os conteúdos e usabilidade.

[2021-12-21 12:13] #129 closed, assigned to uira, danielgula, ClarisCaval

[2021-12-21 12:33] danielgula commented on #49
Em 21/12 fizemos teste para usuário externo e o email de convite não chegou.

[2021-12-21 14:11] danielgula commented on #100
https://programas.saude.ce.gov.br/chamada-de-avaliadores/

Página com a experiência do avaliador completa.

[2021-12-21 14:11] #100 closed, assigned to danielgula

[2021-12-21 14:53] danielgula commented on #105
Em conversa com @victorMagalhaesPacheco iremos solicitar ao @uira gerar priorização nas demandas da @thaistoscano, solicitando a geração do dashboard pelo metanase.
Até lá vamos colocar na página uma imagem informando que 100% dos municípios foram aderentes ao programa.

[2021-12-21 15:09] danielgula commented on #49
Testes e configurações adicionais foram feitas. A demanda foi atendida e documentação dos procedimentos estão no Drive do sus.ce na subpasta Projetos do Felicilab

[2021-12-21 15:09] #49 closed, assigned to wforte88, danielgula

[2021-12-22 13:16] danielgula commented on #127
Entramos em contato dia 21/12/2021 com a área responsável sobre o recebimento do material.

[2021-12-22 13:20] raiannyqz commented on #110
Nesta demanda eu solicitei para DIPSA o conteúdo que iria para as páginas do site, que nos retornou com alguns dos textos e posteriormente passariam por revisão textual. Outros textos como Perguntas Frequentes não foram entregues pela DIPSA. Com isso, não foi possível atualizar o site com o conteúdo.
Nesse período o epic: MVP 1 - Site da Residência, na qual esta tarefa (#110) faz parte foi pausada

[2021-12-22 14:43] raiannyqz commented on #112
A demanda da inception foi realizada após a Arquitetura da Informação #89, Protótipo #96 e Esboço do site #97. Essas tarefas  #89,  #96 e #97 seria um teste para que eu fosse avaliada sobre o meu entendimento de wordpress. Então, quando o esboço do site ficou pronto, mediante as datas de entrega, comuniquei ao @RaniGub que estava me acompanhando nas tarefas e ele pediu para que eu pareasse com @pa

[2021-12-22 14:44] raiannyqz commented on #112
Em vista disso colocarei esta demanda no Backlog.

[2021-12-22 18:45] raiannyqz commented on #97
Todas as tarefas deste card foram realizadas. Acredito que esse card possa ser fechado ou voltar para ser refinado para o próximo bolsista que dará continuidade a ela. @uira @RaniGub

[2021-12-22 18:50] raiannyqz commented on #108
Neste card não foi possivel realizar a tarefa de conversar com um residente. Finalizo aqui a contribuição neste card que aguarda continuidade para o próximo bolsista, mediante suas alterações e metodologias. @uira @RaniGub

[2021-12-22 18:53] raiannyqz commented on #96
Neste card minhas tarefas foram concluídas, posteriormente ela retornaria para o refinamento após a validação da inception, jornada do usuário e arquitetura da informação. Acredito que esse card pode ser fechado ou voltar para ser refinado para o próximo bolsista que dará continuidade a ela, mediante suas alterações e metodologias. Finalizo aqui a contribuição neste card. @uira @RaniGub

[2021-12-23 18:06] danielgula opened #131 "Remover Telesaúde das páginas"
## **Objetivo**

**Como** designer
**Quero**  remover acessos ao Telesaúde
**Para** que os usuários não vejam o telefone

## **Contexto**

O servicó Telesaúde foi terminado e precisa ser removido das páginas do hotsite Coronavírus.

## **Escopo**

- [x] pesquisar páginas com a chamada para o Telesaúde
- [x] remover módulos

## **Critérios de Aceitação**

**Dado que** sou internauta
**Quando** aces

[2021-12-27 13:31] danielgula opened #132 "Disponibilizar vídeos do Qualiquiz para o iSUS"
## **Objetivo**

**Como** usuário
**Quero** acessar o Qualiquiz
**Para** ver vídeos tutoriais

## **Contexto**

Arquivos de vídeo precisam sem chamados pelo iSUS em plataforma segura e proprietária da ESP. Neste caso precisamos deixar esse repositório online e escolhemos o subsite do iSUS no sus.ce para isso.

## **Escopo**

- [x] Configurar sus.ce para recebimentos de arquivos grandes (vídeo)
- [

[2021-12-27 14:10] ClarisCaval commented on #57
@danielgula atualizei os textos a serem apresentados na página no doc original tá?
https://docs.google.com/document/d/19FCUHXYbJdzshyVZpfptsKDG5GxwTUROJz4WCAa5g9Q/edit

[2021-12-27 17:52] danielgula commented on #132
@janeteamaral seguem os links

https://sus.ce.gov.br/isus/wp-content/uploads/sites/5/2021/12/Q1-Qualiquiz.mp4
https://sus.ce.gov.br/isus/wp-content/uploads/sites/5/2021/12/Q2-Qualiquiz.mp4
https://sus.ce.gov.br/isus/wp-content/uploads/sites/5/2021/12/Q3-Qualiquiz.mp4
https://sus.ce.gov.br/isus/wp-content/uploads/sites/5/2021/12/Q4-Qualiquiz.mp4
https://sus.ce.gov.br/isus/wp-content/uploads/sites/5

[2021-12-27 17:52] #132 closed, assigned to danielgula

[2021-12-27 18:04] danielgula commented on #131
Ascom confirmou a demanda, que será encerrada.

[2021-12-27 18:04] #131 closed, assigned to danielgula

[2021-12-29 18:07] danielgula commented on #57
Página atualizada e aguardando revisão. Segue o novo link:
https://i.sus.ce.gov.br/capitulo-livro-esp/
Apenas o vídeo com os depoimentos é que está o anterior, pois o novo está em revisão também.

[2021-12-30 00:17] geniltonfaheinajr commented on #57
@Clarisse1983 @danielgula acredito que neste caso será necessário fazer um novo alinhamento com a equipe editorial, pois o link divulgado no texto é outro. https://i.sus.ce.gov.br/extra

O caminho mais interessante não seria manter esse mesmo endereço?
![Screenshot_20211229-211158](https://user-images.githubusercontent.com/72393884/147712171-d1765a08-a19d-4cc4-a6ab-93a511780cb5.png)

[2021-12-30 00:20] geniltonfaheinajr commented on #57
E parabéns, Dani!

[2021-12-30 12:46] geniltonfaheinajr commented on #57
@danielgula verificar com a ASCOM se é possível alterarmos o link neste momento. Alinhei com @Clarisse1983 e optamos por esse caminho, de inserir o link novo que vc sugeriu.

[2021-12-30 18:36] danielgula commented on #57
Passamos a demanda para que a ASCOM possa usar o novo caminho da página.
Colocamos o novo vídeo da experiência de desenvolvimento do iSUS no Youtube e linkamos na página (https://youtu.be/RtqSPtM7pek)
Demanda está concluída e será encerrada.

[2021-12-30 18:36] #57 closed, assigned to danielgula, drmarcos, ClarisCaval, geniltonfaheinajr

[2021-12-30 18:51] danielgula opened #133 "Organizar Pessoas do time DIT/Felicilab na página Quem Somos"
## **Objetivo**

**Como** internauta
**Quero** acessar a página do time DIT/Felicilab
**Para** ver a lista cronológica de pessoas

## **Contexto**

Foi decidido que a ordem de apresentação das pessoas no site do Felicilab será cronológica, isto é, apresentando dos mais recentes colaboradores até os mais antigos. Foi feito levantamento preliminar pela @Clarisse1983 , que servirá de primeira versão,

[2021-12-30 19:20] uira commented on #57
@danielgula @ClarisCaval , vamos subir esse vídeo no instagram e no tuiter com a narrativa do Edital,

[2022-01-05 12:48] geniltonfaheinajr commented on #57
@danielgula alguma atualização da ASCOM quanto à mudança do link?

[2022-01-05 12:52] geniltonfaheinajr commented on #57
@Clarisse1983 lembrei que lááá atrás comentamos da possibilidade de criar um termo de uso de imagem e som para quem forneceu conteúdo. Vc ainda acha que se aplica?

[2022-01-06 19:05] ClarisCaval commented on #57
@geniltonfaheinajr acho que se aplica sim. A gente tem o termo padrão, só precisamos enviar para as pessoas que participaram do vídeo. Você consegue recontatá-los e enviar isso?

[2022-01-11 14:12] MayaraMonte opened #134 "Apresentação FeliciLab"
## **Objetivo**

**Como** gestor
**Quero** criar uma apresentação sobre o FeliciLab
**Para** apresentar aos alunos do curso de Design Digital da UFC - Campus Quixadá

## **Escopo**

- [x]  Analisar apresentações antigas para juntar as informações em uma nova apresentação;
- [x]  Atualizar informações de acordo com a nova portaria;

## Observações
https://docs.google.com/presentation/d/1iBHi8I_uLuN

[2022-01-11 14:12] #134 closed, assigned to MayaraMonte

[2022-01-11 15:29] MayaraMonte commented on #134
Issue moved to [EscolaDeSaudePublica/DesignLab #200](https://github.com/EscolaDeSaudePublica/DesignLab/issues/200) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-01 17:36] danielgula opened #135 "Criar banner do Cisec"
## **Objetivo**

**Como** usuário
**Quero** acesser o hotsite coronavirus
**Para** ver o banner do CISEC

## **Contexto**

Deverá ser feita uma chamada ao Cisec dentro da home do Coronavirus

## **Escopo**

- [x] receber imagens
- [x] montar seção no Divi
- [x] testes de usabilidade

## **Critérios de Aceitação**

**Dado que** estou no hotsite coronavirus
**Quando** clico no banner do Cisec
**entã

[2022-02-03 12:10] danielgula commented on #135
Após o retorno do hotsite que estava fora do ar até essa data, foi feita inclusão do banner. Demanda atendida.

[2022-02-03 12:10] #135 closed, assigned to danielgula

[2022-02-03 12:37] danielgula opened #136 "Criar página descritiva da residência para webview do iSUS"
## **Objetivo**

**Como** usuário
**Quero** acessar o iSUS
**Para** ver detalhes da área na seção residência

## **Contexto**

Está sendo criada uma seção do iSUS para a residência e é necessário criar uma página com detalhes da área para o webview dessa seção.

## **Escopo**

- [ ] coletar texto
- [ ] coletar imagens
- [ ] gerar página adaptada
- [ ] divulgar link para o time iSUS implementar

##

[2022-02-04 15:37] Laysacunha opened #137 "Problemas na responsividade dentro do iSUS"
# Descrição

- Algumas páginas estão com problemas de responsividade dentro da webview do iSUS. Quando aparecem imagens duplicadas, a segunda imagem fica mal dimensionada no app. Alguns textos estão com problema na diagramação. Imagens/Vídeos:

![image](https://user-images.githubusercontent.com/20958122/152555937-b78f92ef-cd5a-45c6-8f5c-6138262d89da.png)
![image](https://user-images.githubusercont

[2022-02-07 17:03] danielgula opened #138 "Atualizar linha do tempo do Felicilab"
## **Objetivo**

**Como** usuária
**Quero** acessar o site do Felicilab
**Para** ver a linha do tempo atualizada

## **Contexto**

Estamos atualizando a linha do tempo do Felicilab para uma versão mais completa, e se faz necessária atualização a partir do documento referência.

## **Escopo**

- [x] Capturar textos em verde no documento
- [x] Procurar imagens de referência
- [x] Adicionar na planil

[2022-02-07 17:08] danielgula opened #139 "Atualizar time do Felicilab"
## **Objetivo**

**Como** usuária
**Quero** atualizar o time do Felicilab
**Para** mostrar para as pessoas usuárias quem é quem no Lab

## **Contexto**

Com as entrada e saídas do time, se faz necessário atualizar as pessoas do Felicilab. Não deverão ser excluídas as páginas, mas sim mudadas as tags de referência para desligar e remanejar perfis dentro do site.

## **Escopo**

- [x] Acessar docume

[2022-02-07 17:10] danielgula commented on #133
Iremos repriorizar essa tarefa assim que a tarefa #139 for concluída.

[2022-02-09 00:42] danielgula commented on #126
Tarefa foi concluída em dez/2021

[2022-02-09 00:49] danielgula commented on #138
Todos os elementos em verde foram avaliados e inseridos. Algumas entradas não tinham o mês e foram deixados comentários para atualização da @Clarisse1983 .

[2022-02-09 00:55] danielgula commented on #136
Foi visto que a página atual não é em uma webview.
Contudo, estamos avaliando a possibilidade de se tornar uma webview, para atender mais rapidamente a demanda em virtude da quantidade e complexidade de layout do coneúdo.

[2022-02-11 04:05] danielgula commented on #138
Atualizações feitas para essa versão. Issue realizada.

[2022-02-11 04:05] #138 closed, assigned to danielgula

[2022-02-11 04:09] danielgula commented on #73
@uira @RaniGub Quais cards se conectam a esse épico?

[2022-02-11 04:10] danielgula commented on #88
@Clarisse1983 @Laysacunha isso foi concluído tendo em vista que estamos com novas atualizações?

[2022-02-11 04:12] danielgula commented on #23
@RaniGub @uira Esse card está no backlog do Workspace da Central de Informações. Quais os cards que se conectam a ele agora? Ele vai ser tocado aqui ou em outro board?

[2022-02-11 04:14] danielgula commented on #87
@RaniGub @uira Esse antigo card ainda se refere a primeira proposta que desenhei em 2020 para integrar as arquiteturas e certamente houve uma atualização e upgrade disso. Quais os novos cards e links para esse projeto para que possamos atualizar essa issue e encerrá-la?

[2022-02-11 04:15] danielgula commented on #108
Iremos retomar essa atividade com um novo refinamento para a construção de uma página que atenda às necessidades emergenciais da área.

[2022-02-14 19:51] danielgula opened #140 "Substituir ícone do Plantão Coronavírus"
## **Objetivo**

**Como** usuária
**Quero** acessar o hotsite coronavirus
**Para** interagir com o novo botão do plantão

## **Contexto**

A Ascom da ESP solicitou a alteração do botão do Plantão Coronavirus para uma nova versão. Foi disponibilizado o código para ser substituído.

## **Escopo**

- [x] encontrar código atual do botão
- [x] Substituir código
- [x] Realizar testes desktop e mobile

#

[2022-02-15 12:46] danielgula commented on #140
Testes foram feitos com a equipe da Ascom/ESP e nenhum erro foi encontrado. Demanda atendida.

[2022-02-15 12:46] #140 closed, assigned to danielgula

[2022-02-15 13:14] RaniGub commented on #73
Oi @danielgula, não há tarefas relacionadas ainda. Existe uma EAP e um documento da proposta de projeto que contempla isso. https://github.com/EscolaDeSaudePublica/DesignLab/issues/180

[2022-02-15 13:16] RaniGub commented on #23
@danielgula não sei sobre o Projeto, mas acredito que ele se conecte com o Soluções Digitais @gabrieladamarques

[2022-02-15 13:18] RaniGub commented on #87
Esse Épico e todas suas relações que estão surgindo aos pouco.
https://github.com/EscolaDeSaudePublica/DesignLab/issues/204
Acho que essa tarefa não precisa mais estar aberta, vc pode fechar.

[2022-02-17 03:34] danielgula opened #141 "Alterar chamado do edital 26 no site"
## **Objetivo**

**Como** usuária
**Quero** acessar o site do Felicilab
**Para** ver o resultado final do certame

## **Contexto**

Como o resultado final edital 26 foi divulgado, devemos atualizar a home do site para essas informações, removendo assim o FAQ e a página de acompanhamento.

## **Escopo**

- [ ] alterar texto da seção
- [ ] alterar botões de acesso

## **Critérios de Aceitação**

**D

[2022-02-17 03:35] #141 closed, assigned to danielgula

[2022-02-28 01:07] danielgula opened #142 "Ajuste de script para o Fale Conosco"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

-

## **Escopo**

- [x] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [x] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Links de apoio e informações adicionais

[2022-02-28 01:08] danielgula opened #143 "Criar seção Onboarding"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Links de apoio e informações adicionais

[2022-03-07 14:15] RaniGub commented on #112
Board apresentada ao Jorge. Em processo de contextualização.

[2022-03-07 14:15] #112 closed, assigned to raiannyqz

[2022-03-07 14:15] RaniGub commented on #112
Board apresentada ao Jorge. Em processo de contextualização.

[2022-03-07 14:16] RaniGub commented on #114
Board apresentada ao Jorge. Em processo de contextualização.

[2022-03-07 14:16] #114 closed, assigned to raiannyqz, pauloamoreira

[2022-03-07 14:21] RaniGub commented on #108
Essa tarefa, assim como as anteriores, serão consideradas e passarão por uma análise do Jorge para que possamos dar continuidade.

[2022-03-07 14:22] #108 closed, assigned to uira, raiannyqz, danielgula, RaniGub

[2022-03-07 14:23] RaniGub commented on #110
Aguardando a registro do Jorge no GitHub para assinar a tarefa.

[2022-03-07 15:12] RaniGub commented on #90
@elpadrejorge esse Épico conecta as tarefas criadas até agora para o Site da Residência. Acho interessante uma nova tarefa, relacionada à revisão das informações, ser criada para refinarmos o escopo dela. Nesse Épico #90 você conseguirá ver todas as tarefas relacionadas até então com comentários, daí você consegue um complemento do contexto que lhe passei hoje.

[2022-03-08 11:49] #89 closed, assigned to uira, raiannyqz, RaniGub

[2022-03-08 11:50] #96 closed, assigned to uira, raiannyqz, RaniGub

[2022-03-08 11:50] #97 closed, assigned to uira, raiannyqz, RaniGub

[2022-03-08 12:03] RaniGub opened #144 "Revisar Levantamento de Requisitos para o site das Residências"
## **Objetivo**

**Como** designer
**Quero** me contextualizar do Levantamento de Requisitos para o Site da Residência
**Para** validar iniciar o processo de desenvolvimento

## **Contexto**

Os residentes precisam de um site para melhorar o relacionamento com os programas de Residência e este, por sua vez, requer uma melhor visibilidade do seu conteúdo informativo. Os possíveis ingressantes preci

[2022-03-08 12:11] elpadrejorge commented on #144
Durante a revisão surgiram algumas dúvida que serão pareadas com o @RaniGub  e @danielgula . Aguardando retorno de sua disponibilidade.
Previsão Rani : Sexta 11/03, das 9 às 10 horas.
Previsão do Daniel: Aguardando retorno.

[2022-03-08 12:18] RaniGub opened #145 "Estudos de Layouts | Site da Residência"
## **Objetivo**

**Como** designer
**Quero** realizar alguns estudos do Site da Residência
**Para** viabilizar o desenvolvimento do mesmo

## **Contexto**

É preciso realizar alguns esboços do Site da Residência para chegarmos em um ponto de equilíbrio em relação as demais soluções

## **Escopo**

- [ ] Estudo de layouts

## Observações
Links de apoio e informações adicionais

[2022-03-11 12:15] RaniGub commented on #144
@elpadrejorge fará um pareamento com @pauloamoreira hoje 10h15 para ficar atualizado sobre os tópicos da residência.

[2022-03-11 12:32] RaniGub commented on #110
Tarefa desbloqueada.

[2022-03-11 12:33] uira commented on #144
@RaniGub Quero conversar com vcs sobre isso, @RaniGub e @elpadrejorge

[2022-03-11 12:37] RaniGub commented on #144
Conversamos hoje de tarde na ESP.

[2022-03-11 12:46] RaniGub opened #146 "Identificar principais Histórias dos Residentes"
## **Objetivo**

**Como** designer
**Quero** saber as principais histórias dos residentes
**Para** viabilizar o MVP 1 do Site da Residência

## **Contexto**

Com a retomada do Site da Residência, alguns alinhamentos estão sendo realizados para viabilizar a entrega do MVP 1.

## **Escopo**

- [ ] Pactuar com a Residência a pessoa responsável pelo levantamento dos conteúdos.
- [ ] Identificar as pri

[2022-03-11 12:47] RaniGub commented on #146
Colona 'Sprint Backlog' adiciondaa no Workspace da Central de Informações.

[2022-03-14 14:17] #144 closed, assigned to elpadrejorge

[2022-04-11 14:39] danielgula opened #147 "Inserir link PBM na página das residências"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar as vagas para residentes no iSUS
**Para** ver a oportunidade de Medicina Transfusional no Hemoce

## **Contexto**

Nos foi passado texto e link sobre a oportunidade nas residências chamado PBM – Medicina Transfusional para melhoria do cuidado. Ela precisa estar presente dentro da webview para o iSUS.

## **Escopo**

- [x] receber texto e l

[2022-04-11 14:39] danielgula opened #148 "Divulgação de link do Hemoce no iSUS"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar as vagas para residentes no iSUS
**Para** ver a oportunidade de Medicina Transfusional no Hemoce

## **Contexto**

Nos foi passado texto e link sobre a oportunidade nas residências chamado PBM – Medicina Transfusional para melhoria do cuidado. Ela precisa estar presente dentro da webview para o iSUS.

## **Escopo**

- [x] receber texto e l

[2022-04-11 14:40] danielgula opened #149 "Criação de link de oportunidade de residência do Hemoce no iSUS"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar as vagas para residentes no iSUS
**Para** ver a oportunidade de Medicina Transfusional no Hemoce

## **Contexto**

Nos foi passado texto e link sobre a oportunidade nas residências chamado PBM – Medicina Transfusional para melhoria do cuidado. Ela precisa estar presente dentro da webview para o iSUS.

## **Escopo**

- [x] receber texto e l

[2022-04-11 14:48] danielgula opened #150 "Publicar novos artigos na biblioteca"
## **Objetivo**

**Como** persona  usuária
**Quero** acessar o site do elmo
**Para** ver as novas publicações na Biblioteca

## **Contexto**

Novas publicações foram feitas no site do Elmo, mas no campo e notícias. Precisamos colocar esses documentos na aba Biblioteca. As publicações precisam aparecer primeiro.

## **Escopo**

- [x] baixar arquivos pdf originais
- [x] pesquisas capas e dados catal

[2022-04-11 17:01] #142 closed, assigned to danielgula

[2022-04-11 17:01] #143 closed, assigned to danielgula

[2022-04-11 18:13] danielgula commented on #150
@clarissagpeixoto demanda atendida. É preciso solicitar que a Ascom da ESP ao invés de colocar os arquivos para baixar possa fazer um link direto para cada publicação na biblioteca, ou simplesmente remover os dois posts.

[2022-04-11 19:40] clarissagpeixoto commented on #150
Perfeito, Dan! Obrigada. Já repassei para a Alice.

[2022-04-12 18:12] danielgula opened #151 "Criar formulário de enquete da Live do Felicilab"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o form com enquete do programa dentro do site
**Para** manter os dados dentro da estrutura interna do projeto

## **Contexto**

O novo projeto de Lives do Felicilab usa formulário do Google e deve passar a ser um conteúdo gerado pelo site.
Esta demanda segue a issue abaixo, de acordo com @Clarisse1983 e @edmirandajr
https://github.com/Esco

[2022-05-04 19:06] danielgula opened #152 "Inclusão do Banner E-book Covid 19"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o site coronavirus
**Para** ver o E-book Covid 19

## **Contexto**

Ascom solicitou a publicação de um banner divulgando o E-book de enfrentamento a Covid 19

## **Escopo**

- [ ] baixar imagens
- [ ] criar banner
- [ ] publicar e testar funcionalidade

## **Critérios de Aceitação**

**Dado que** estou na internet
**Quando** acesso o hotsi

[2022-05-05 12:39] danielgula commented on #152
Aprovado pela Ascom.

[2022-05-05 12:39] #152 closed, assigned to danielgula

[2022-05-05 16:42] danielgula commented on #148
Demanda atendida

[2022-05-05 16:42] #148 closed, assigned to danielgula

[2022-05-05 16:43] #92 closed, assigned to danielgula

[2022-05-07 21:51] danielgula commented on #147
Demanda atendida.

[2022-05-07 21:51] #147 closed, assigned to danielgula

[2022-05-09 02:24] danielgula commented on #150
Demanda atendida

[2022-05-09 02:24] #150 closed, assigned to danielgula

[2022-05-09 02:24] danielgula commented on #149
Demanda atendida

[2022-05-09 02:24] #149 closed, assigned to danielgula

[2022-05-09 15:30] danielgula opened #153 "Inclusão de plugin de tradução automática para o site do Elmo"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o site do Elmo em inglês
**Para** ver informações nessa lingua

## **Contexto**

Foi solicitado pelo Dr. Marcelo e time de inovação a implementação emergencial de um plugin para tradução do Elmo em inglês, como primeiro momento desse esforço.

## **Escopo**

- [x] avaliar plugin
- [x] instalar plugin
- [x] validar plugin
- [x] configurar p

[2022-05-09 15:31] danielgula commented on #153
@clarissagpeixoto @KelmaSouto e Talita (nÃo achei a conta dela do Github) podem verificar as páginas? Já instalei o plugin em produção.

[2022-05-16 14:01] danielgula commented on #153
Plugin foi testado e está no ar. Demanda encerrada.

[2022-05-16 14:01] #153 closed, assigned to danielgula

[2022-05-17 15:32] danielgula opened #154 "Site do Elmo em inglês"
Conjunto de atividades agrupadas como esforço para colocar o site do Elmo em inglês.

[2022-05-17 15:35] danielgula commented on #154
@nazkafarias @clarissagpeixoto segue o épico da demanda de melhoria do site do Elmo em inglês. Aqui colocarei todas as atividades relacionadas a esse esforço de projeto.

[2022-05-17 15:44] danielgula opened #155 "Customizar arquitetura da informação para o site em inglês"
## **Objetivo**

**Como** designer
**Quero** organizar a arquitetura do site Elmo
**Para** identificar o site em inglês

## **Contexto**

Precisamos atualizar a arquitetura da informação no Divi para que sejam construídos templates customizados para a nova língua.

## **Escopo**

- [x] avaliar arquitetura atual
- [x] propor nova arquitetura
- [x] criar novas categorias e hierarquias no WP
- [x] al

[2022-05-17 15:56] danielgula opened #156 "Criação do ambiente de conteúdos do site em inglês"
## **Objetivo**

**Como** designer
**Quero** preparar a estrutura de conteúdos do site Elmo
**Para** que pessoas usuárias atualizem o site em inglês

## **Contexto**

Com a arquitetura pronta, precisamos elaborar os assets das páginas para a construção do site em inglês, usando os templates e categorias correspondentes.

## **Escopo**

- [x] gerar menu em inglês
- [x] gerar estrutura de páginas em

[2022-05-17 16:15] danielgula opened #157 "Atualização de páginas no site do elmo para inglês"
## **Objetivo**

**Como** designer
**Quero** atualizar as páginas do Elmo para o inglês
**Para** publicação do primeiro release

## **Contexto**

Com a estrutura do site em inglês pronta para ser atualizada, recebemos o material traduzido e precisamos de esforço para colocar tudo no site. Em tempo, novas atualizações serão feitas pela equipe do Felicilab + NIT

## **Escopo**

- [x] recebimento do

[2022-06-06 17:54] danielgula opened #158 "Atualizar landing page do iSUS"
## **Objetivo**

**Como** internauta
**Quero** acessar a página do iSUS
**Para** ver informações atualizadas

## **Contexto**

- foi solicitado por @Clarisse1983  demanda de atualização pela issue
https://github.com/EscolaDeSaudePublica/Narrativas/issues/43

## **Escopo**

- [x] atualizar imagem principal
- [x] ajustar links
- [x] ajustar títulos
- [x] ajustar cores
- [x] verificar experiência mob

[2022-06-06 19:10] danielgula commented on #156
@clarissagpeixoto nessa issue criamos o ambiente do site em inglês. Precisamos ver o esforço para mudar todas as imagens dessas seções. O que será alterado aqui em termos de imagem e vídeo?

[2022-06-06 19:11] danielgula commented on #155
@clarissagpeixoto essa é uma issue técnica do Wordpress e está em andamento para poder gerar o site em inglês e trocar para o português. Para conhecimento

[2022-06-06 19:12] danielgula commented on #157
@clarissagpeixoto essa issue trata da criação das páginas em inglês da seção O ELMO. Para acompanhamento

[2022-07-01 18:37] danielgula opened #159 "Remover menção do Governo no site do Elmo"
## **Objetivo**

**Como** designer
**Quero** remover menções do governo no site
**Para** atende o defeso eleitoral

## **Contexto**

Estas são solicitações encomendadas pela Ascom da ESP

## **Escopo**

- [x] Arquivar/ocultar toda a seção "Notícias" em português
- [x] Arquivar/ocultar toda a seção "Elmo na mídia" em português
- [x] Arquivar/ocultar toda a seção "Elmo na mídia" em inglês

## **Crit

[2022-07-01 18:38] #155 closed, assigned to danielgula

[2022-07-01 18:38] #156 closed, assigned to danielgula

[2022-07-01 18:38] #157 closed, assigned to danielgula

[2022-07-01 19:40] danielgula opened #160 "Ocultar conteúdos do Site Felicilab (defeso eleitoral)"
## **Objetivo**

**Como** designer
**Quero** remover menções ao Governo no Site
**Para** atender ao defeso eleitoral

## **Contexto**

Em atendimento a solicitação da Ascom, faremos as mudanças sugeridas abaixo.

## **Escopo**

- [x] Arquivar/ocultar toda a seção "Blog"
- [x] Arquivar/ocultar toda a seção "Fala, meu povo"
- [x] Ocultar a linha do tempo
- [x] Ocultar chamada de notícias

## **Crité

[2022-07-01 22:39] danielgula opened #161 "Tirar do ar o site cuidar melhor"
## **Objetivo**

**Como** designer
**Quero** remover o site cuidar melhor
**Para** atender ao período eleitoral

## **Contexto**

Por decisão da Sesa, o site Cuidar Melhor vai sair do ar durante o período eleitoral.

## **Escopo**

- [x] configurar o site como desabilitado

## **Critérios de Aceitação**

**Dado que** estou na internet
**Quando** quando acesso qualquer referência para o site cuidar

[2022-07-01 22:40] danielgula commented on #161
Demanda atendida

[2022-07-01 22:40] #161 closed, assigned to danielgula

[2022-07-05 13:25] danielgula commented on #133
Demanda está sendo tratado pela issue
https://github.com/escoladesaudepublica/felicilab/issues/276

[2022-07-05 13:25] #133 closed, assigned to danielgula, ClarisCaval

[2022-07-05 13:26] danielgula commented on #139
Demanda está sendo tratado pela issue
https://github.com/escoladesaudepublica/felicilab/issues/276

[2022-07-05 13:26] #139 closed, assigned to danielgula

[2022-07-05 13:32] #159 closed, assigned to danielgula

[2022-07-05 13:32] #160 closed, assigned to danielgula

[2022-07-15 18:14] danielgula opened #162 "Correções do MVP1 do site do Elmo"
## **Objetivo**

**Como** internauta
**Quero** acessar o site do Elmo
**Para** ver as atualizações do MVP1

## **Contexto**

Atendendo o chamado
ESPCE#20220526586294 — Tradução do site do Elmo

## **Escopo**

- [x] realizar ajustes nas páginas
- [x] realizar ajustes no menu
- [x] realizar ajustes no histórico

## **Critérios de Aceitação**

**Dado que** estou na internet
**Quando** acesso o site d

[2022-07-15 18:25] #162 closed, assigned to danielgula

[2022-07-15 18:31] danielgula opened #163 "Adicionar documento no site do Elmo - seção Biblioteca"
## **Objetivo**

**Como** persona
**Quero** acessar a biblioteca do Elmo
**Para** ver a matéria da Xlung

## **Contexto**

Atendimento do chamado: ESPCE#20220621586504

Documento enviado pelo usuário: Documento: https://xlung.net/discussion/1/topic/874

## **Escopo**

- [x] criar artigo na biblioteca
- [x] criar thumbnail

## **Critérios de Aceitação**

**Dado que** estou no site do Elmo
**Quando*

[2022-07-15 18:31] #163 closed, assigned to danielgula

[2022-07-15 18:38] danielgula commented on #150
Conforme contato por email de @clarissagpeixoto colocamos essa publicação na Biblioteca em português

[2022-07-15 18:39] danielgula commented on #163
Conforme contato por email de @clarissagpeixoto esse artigo foi colocado na biblioteca em inglês com o nome
Magazine Clube[: Helmet noninvasive support in hypoxemic respiratory failure]

[2022-07-19 15:27] danielgula commented on #71
A página, sendo temporária, está funcional. Mudanças e atualizações serão feitas mediante projeto para a Central.

[2022-07-19 15:27] #71 closed, assigned to danielgula

[2022-07-19 15:47] danielgula commented on #162
Foram detectados alguns ajustes finos na tradução, realizados com o apoio da @clarissagpeixoto
Demanda finalizada.

[2022-08-08 17:03] danielgula commented on #158
Foi ajustado o texto da jornada para instalação dos testes do iSUS.
Não achei as informações abaixo:
Acrescentar a linha do tempo do iSUS
Acrescentar o vídeo dos colaboradores.
@edmirandajr e @Clarisse1983 onde tem isso?
No mais todas as outras informações foram atualizadas.

[2022-08-18 20:02] danielgula commented on #158
@Clarisse1983 @edmirandajr @ericabpinho página do iSUS atualizada! Podem validar?

[2022-08-21 15:29] danielgula commented on #158
@edmirandajr @Clarisse1983 a última imagem espelhada foi atualizada. Aguardando encerramento dessa issue.

[2022-08-21 19:34] danielgula opened #164 "Incluir mini currículo dos instrutores no site do Elmo"
## **Objetivo**

**Como** pessoa usuária
**Quero** acesasr o site do Elmo
**Para** ver o mini currículo dos instrutores

## **Contexto**

Em atendimento ao chamado ESPCE#20220809586733

## **Escopo**

- [x] Incluir mini currículo dos instrutores abaixo da "Equipe de Desenvolvimento"
- [x] Incluir seção Equipe de Treinamento na página equipe

## **Critérios de Aceitação**

**Dado que** estou no sit

[2022-08-21 19:35] danielgula commented on #164
@clarissagpeixoto de acordo com sua solicitação veja a página abaixo e ver se isso atende. Sua demanda não ficou muito clara quanto ao nome do título da seção:
https://sus.ce.gov.br/elmo/equipe/

[2022-08-21 19:40] danielgula opened #165 "Vídeo do site do Elmo indisponíveis"
## **Objetivo**

**Como** designer
**Quero** investigar vídeo indisponível no site
**Para** corrigir o problema

## **Contexto**

Atendendo ao chamado ESPCE#20220809586735:
Pessoal, os vídeos da seção "Instruções" do site em Português do Elmo estão "Indisponíveis". Vamos checar o que está acontecendo e tomar as devidas providências.

## **Escopo**

- [x] verificar erro na página
- [x] enviar feedb

[2022-08-21 19:45] danielgula commented on #165
@clarissagpeixoto como informamos anteriormente, os erros dos vídeos são decorrentes do defeso eleitoral, que obrigou o canal do Youtube da ESP a ser desativado.
Acessando novamente hoje, domingo 16:40, percebemos que os vídeos retornaram.
Provavelmente a Ascom voltou a colocar os vídeos no ar mas não listados, o que permite que eles sejam acessados por outros sites, como o do Elmo.
Consideramos a

[2022-08-21 19:45] #165 closed, assigned to danielgula, clarissagpeixoto

[2022-08-21 19:50] danielgula opened #166 "Remover conteúdos do site Coronavírus"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o site coronavirus
**Para** não ver conteúdos sensíveis ao período eleitoral

## **Contexto**

Em atendimento ao chamado ESPCE#20220810586750
Gostaria de solicitar a retirada de alguns materiais no site coronavírus. O primeiro seria ocultar a caixinha pronunciamentos do governo no rodapé, em serviços: https://coronavirus.ceara.gov.br/ (ima

[2022-08-21 19:54] danielgula commented on #166
Demanda atendida.

[2022-08-21 19:54] #166 closed, assigned to danielgula

[2022-08-22 14:54] danielgula opened #167 "Incluir seção com a descrição dos itens que vêm na caixa do capacete Elmo"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o site do Elmo
**Para** ver os itens da caixa do produto

## **Contexto**

Atendendo o chamado ESPCE#20220810586741

Incluir em "Materiais Instrucionais" (final da página) os itens básicos para o funcionamento do sistema Elmo.
Ver arquivo anexo.

## **Escopo**

- [x] inserir página com conteúdos
- [x] verificar portfolio e categoria
- [x]

[2022-08-23 17:54] danielgula commented on #158
Demanda concluída. @Clarisse1983 pode fazer as honras em fechar a demanda =)

[2022-08-23 17:56] danielgula commented on #164
Novos currículos foram solicitados pelo solicitante da demanda @clarissagpeixoto . Demanda voltou para a esteira de produção.

[2022-08-25 11:58] alesouza88 commented on #167
Segue documento de referência enviado pelo solicitante da demanda.

[Equipamentos e materias_TH Elmo.pdf](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/9424377/Equipamentos.e.materias_TH.Elmo.pdf)

[2022-08-25 11:59] alesouza88 commented on #167
Segue ajustes solicitados pela Clarissa no dia 24/08/2022

![image](https://user-images.githubusercontent.com/87095371/186658505-3c5808bc-0889-4670-a732-5aeaafe23fe7.png)

[2022-08-30 02:02] danielgula commented on #167
Alterações realizadas e a página tem novo endereço:
https://sus.ce.gov.br/elmo/equipamentos-e-materiais-para-o-correto-funcionamento-do-sistema-elmo-cpap/

@alesouza88 @clarissagpeixoto

[2022-08-30 02:13] danielgula commented on #164
Em atendimento ao chamado ESPCE#20220823586810 foram feitos ajuste na página conforme demanda. @alesouza88 @clarissagpeixoto

[2022-08-31 13:06] alesouza88 commented on #164
Atendimento realizado conforme solicitado.

Chamado OTRS fechado
![image](https://user-images.githubusercontent.com/87095371/187685384-487551da-30d1-4675-b946-c5f409ec97dc.png)

[2022-09-02 12:39] alesouza88 commented on #167
OI Daniel, tendo em vista que a solicitação foi atendida, o chamado ESPCE#20220810586741 foi fechado com sucesso.

[2022-09-13 18:01] alesouza88 opened #168 "Incluir mini currículo na seção treinamento - ELMO"
[MINICURRICULO_Site Elmo_acrescentar.docx](https://github.com/EscolaDeSaudePublica/sus.ce.gov.br/files/9559706/MINICURRICULO_Site.Elmo_acrescentar.docx)
ESPCE#20220913586918 — Incluir mais um currículo na seção treinamento

De: Clarissa Gomes Peixoto
Para: FELICILAB
Assunto: Incluir mais um currículo na seção treinamento

Anexo: MINICURRICULO_Site Elmo_acrescentar.docx , 85.9 KBytes

Gente, surgiu

[2022-09-13 18:02] alesouza88 opened #169 "Incluir fotos na seção de materiais instrucionais - site ELMO"
De: Clarissa Gomes Peixoto
Para: FELICILAB
Assunto: Incluir fotos na seção de materiais instrucionais

Na seção a seguir https://sus.ce.gov.br/elmo/equipamentos-e-materiais-para-o-correto-funcionamento-do-sistema-elmo-cpap/  incluir fotos dos respectivos itens para o correto funcionamento do sistema Elmo.

As fotos encontram-se aqui: https://drive.google.com/drive/folders/1a0UMGQpJ0r-QoLY0Uji2bxlw

[2022-09-13 18:05] alesouza88 opened #170 "Correção nome de instrutores - site ELMO"
ESPCE#20220913586919 — Correção

De: Clarissa Gomes Peixoto
Para: FELICILAB
Assunto: Correção

Correção:
**1. O nome da instrutora Andrea Stopiglia Guedes Braide está com o nome da Patrícia Elisabeth da Silva (quando vc clica em cima do mini currículo da Andrea). Fazer a correção.

2. Substituir "Ingrid Lima" por "Ingrid Sá Cavalcante" (interna e externamente).**

[2022-09-13 19:12] danielgula commented on #168
Inclusão feita.

[2022-09-13 19:15] danielgula commented on #170
Alterações realizadas

[2022-09-15 16:40] alesouza88 commented on #168
Chamado fechado com sucesso

[2022-09-15 16:40] #168 closed, assigned to danielgula, clarissagpeixoto, alesouza88

[2022-09-15 16:41] alesouza88 commented on #170
Chamado fechado com sucesso

[2022-09-15 16:41] #170 closed, assigned to danielgula, clarissagpeixoto, alesouza88

[2022-09-26 22:18] danielgula commented on #169
@alesouza88 e @clarissagpeixoto vejam como ficou o resultado na página
https://sus.ce.gov.br/elmo/equipamentos-e-materiais-para-o-correto-funcionamento-do-sistema-elmo-cpap/

[2022-09-28 15:00] clarissagpeixoto commented on #169
Pessoal, a foto do produto "2 látex para fluxômetros de 30L|min" está errada. Favor fazer a correção. Segue imagem correta em anexo.
![mangueira](https://user-images.githubusercontent.com/77675469/192813378-ffc72112-6d50-4b54-9cca-f41e96782aa3.jpg)

[2022-09-28 15:11] clarissagpeixoto commented on #169
ps.: a foto não é muito boa, mas não consegui uma melhor.

[2022-10-07 14:35] alesouza88 commented on #169
Alterações realizadas conforme solicitadas.
Isto posto, seguiremos com fechamento da issue (obs: é minha 1ª issue que fecho) 😜

![image](https://user-images.githubusercontent.com/87095371/194579006-8e1dc5ce-1609-40ae-a12f-ff0711d5785a.png)

[2022-10-07 14:35] #169 closed, assigned to danielgula, clarissagpeixoto, alesouza88

[2022-11-11 19:09] alesouza88 opened #171 "Banners site do Elmo"
## **Inserir Banners rotativos no site do Elmo**

Como: pessoa responsável pelo site do Elmo
Quero: transformar a imagem estática da página inicial do capacete Elmo em banners rotativos
Para: publicizar as ações referentes ao capacete Elmo

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quan

[2022-11-11 19:10] alesouza88 commented on #171
ESPCE#20221109587155 — Banners site do Elmo

![image](https://user-images.githubusercontent.com/87095371/201413257-40a17d5d-eaed-4088-af86-14d88df869a4.png)

[2022-11-25 19:58] alesouza88 opened #172 "Reativação de aba no site Coronavírus Ceará"
## **Objetivo**

Como: pessoa responsável pelo site Coronavírus Ceará
Quero: reativar aba no site Coronavírus
Para: Visualizar informações do site Coronavírus

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

## Observações
Demanda proveniente do chamado - ESPC

[2022-11-29 12:45] clarissagpeixoto commented on #171
Oi, gente! Como anda essa demanda? Algum prazo de entrega?

[2022-11-29 13:25] alesouza88 commented on #171
Oi Clarissa, bom diaa !!!

@danielgula, pode nos atualizarr? Beijossss

[2022-11-29 15:02] danielgula commented on #172
Conforme enunciado no email, reativamos a aba de notícias no hotsite da vacinação.
Havendo outros links para serem reativados, eles precisam ser especificados exatamente para podermos localizar e reativar também.

[2022-11-29 16:48] danielgula commented on #171
Boa tarde. A implementação foi feita. Colocamos dois banners genéricos para testar a funcionalidade que se encontra validada e ok.
Precisamos organizar qual vai ser o fluxo de inclusão dos banners alinhando com Ascom/Ditec/Felicilab. Pode ser usado o mesmo que fazemos com o hotsite coronavirus: Ascom faz as imagens demandas pela Ditec e Felicilab implementa.

[2022-11-29 17:26] alesouza88 commented on #172
Valeu Dan.

Chamado encerrado

[2022-11-29 17:26] #172 closed, assigned to danielgula

[2022-11-30 13:27] clarissagpeixoto commented on #171
Daniel, por favor, enviar formato do banner pro Julio, da ASCOM. Ele está com a demanda parada, aguardando essa medida.